
@{
    ViewBag.Title = "MHPY_Affidavit";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@using System.Data;
@using DI.Models;
@using DI.DAL;
@using DI.BLL;


@{
    //var grid = new WebGrid(Model, rowsPerPage: 20);
    DataSet ds = new DataSet();
    ds = new CommonDA().GetApplicantinfo_mhpy(-1, -1, UserSession.LoggedInUserName);
}

<style>
    img {
        page-break-inside: avoid;
    }

    .img-rounded {
        border-radius: 6px;
        Height: 100px;
        Width: 109px;
    }

    .fillinthebank {
        /*border-bottom: 4px dotted black;*/
    }
</style>

<script type="text/javascript">
    window.history.forward();
</script>

<script language="javascript" type="text/javascript">
    function printDiv(divID) {
        //Get the HTML of div
        var divElements = document.getElementById(divID).innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
           "<html><head><title></title><style>.fillinthebank{}</style></head><body>" +
            "<div align='center' style='margin-left:1%;margin-right:1%;width:100%;font-size:x-large'>" +

           divElements + "</div></body>";
        //  window.open()
        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;
    }
</script>

<div style="background-color:white ;">
    <div style="margin-left:79%; ">
        <button type="button" class="btn green" onclick="javascript:printDiv('reportdiv')" style="margin-left:5%;margin-right:5%;" id="btnprint">Print</button>
    </div>

    <div class="row">

        @using (Html.BeginForm("Affidavit_Letter", "IndustrialAreaMaster", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div id="reportdiv">
                <br />
                <br />
                <h4 class="title" align="center" style="font-size:x-large;font-weight:bold;text-decoration: underline">स्वप्रमाणित घोषणा पत्र </h4>

                @if (ds != null)
                {
                    if (ds.Tables[0] != null && ds.Tables[1] != null)
                    {
                        if (ds.Tables[0].Rows.Count > 0 && ds.Tables[1].Rows.Count > 0)
                        {


                            <table class="table-responsive tblcss" id="Letter" border="0" style="width:80%" align="center">

                                <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; मैं @ds.Tables[0].Rows[0]["applicant_name"].ToString().Trim() पुत्र/पुत्री/पत्नी श्री  @ds.Tables[0].Rows[0]["father_name"].ToString().Trim()यह घोषणा करता हूॅ/करती हूॅ कि जो विवरण ऊपर दिये गये हैं, वे मेरी जानकारी में सही है। यदि आवेदन पत्र में दिये गये तथ्यों में कोई तथ्य गलत पाया जाये तो उक्त योजना में पेंशन स्वीकार होने की दशा में उपलब्ध करायी गयी पूर्ण धनराशि एक मुश्त मेरी स्थाई/अस्थाई सम्पत्ति से वसूल की जा सकती है।</td></tr>
                            </table>

                            <br />        <br />        <br />
                            <table id="example1" style="width:80%; margin-left:70%; text-align:justify" align="left">

                                <tr style="background-color:#39b4dd">
                                <tr><td>अभ्यर्थी के हस्ताक्षर - </td> </tr>
                                <tr><td style="border: none;"></td></tr>
                                <tr><td>नाम          -<span class="fillinthebank">@ds.Tables[0].Rows[0]["applicant_name"].ToString().Trim()</span></td></tr>
                                <tr><td style="border: none;font-weight:bold;"></td></tr>
                                <tr><td>पता  - <span class="fillinthebank">@ds.Tables[0].Rows[0]["permanent_address"].ToString().Trim()</span></td></tr>
                                <tbody>
                                    <tr><td>
                                            नोटः- कृपया आवेदन पत्र के साथ सत्यापित आय प्रमाण-पत्र, जन्मतिथि प्रमाण-पत्र, हस्तशिल्प पहचान-पत्र, निवास प्रमाण-पत्र एवं  शपथ पत्र संलग्न करना अनिवार्य होगा।
                                        </td></tr>
                                </tbody>
                            </table>

                        }
                        else
                        {
                            <div role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">

                                        <div class="modal-header">

                                            <h2><i class="icon-info"></i>&nbsp;&nbsp;&nbsp;<label class=""> सूचना  </label>  </h2>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <p class="font-red">
                                                    अपने अभी मुख्यमंत्री हस्तशिल्प पेंशन योजना की सभी प्रविष्टियो एवं दस्तावेज़ अपलोड नहीं की है। कृपया समस्त प्रविष्टियो एवं दस्तावेज़ अपलोड करे ।
                                                </p>

                                            </form>
                                        </div>
                                        @*
                                            <div class="modal-body">
                                                <p>Some text in the modal.</p>
                                            </div>*@

                                    </div>

                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">

                                    <div class="modal-header">

                                        <h2><i class="icon-info"></i>&nbsp;&nbsp;&nbsp;<label class=""> सूचना  </label>  </h2>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <p class="font-red">
                                                अपने अभी  मुख्यमंत्री हस्तशिल्प पेंशन योजना की सभी प्रविष्टियो एवं दस्तावेज़ अपलोड नहीं की है। कृपया समस्त प्रविष्टियो एवं दस्तावेज़ अपलोड करे ।
                                            </p>

                                        </form>
                                    </div>
                                    @*
                                        <div class="modal-body">
                                            <p>Some text in the modal.</p>
                                        </div>*@

                                </div>

                            </div>
                        </div>
                    }
                }
                else
                {
                    <div role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-header">

                                    <h2><i class="icon-info"></i>&nbsp;&nbsp;&nbsp;<label class=""> सूचना  </label>  </h2>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <p class="font-red">
                                            अपने अभी  मुख्यमंत्री हस्तशिल्प पेंशन योजना की सभी प्रविष्टियो एवं दस्तावेज़ अपलोड नहीं की है। कृपया समस्त प्रविष्टियो एवं दस्तावेज़ अपलोड करे ।
                                        </p>

                                    </form>
                                </div>
                                @*
                                    <div class="modal-body">
                                        <p>Some text in the modal.</p>
                                    </div>*@

                            </div>

                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>




