@model DI.Models.SPY_Applicant


@{
    ViewBag.Title = "SPY_EntryForm";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@using (Html.BeginForm("SPY_EntryForm", "User", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="portlet light " id="form_wizard_1">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-layers font-red"></i>
                <span class="caption-subject font-red bold uppercase">
                    शिल्पकारों के लिए पेंशन योजना
                    <span class="step-title"> चरण 1 से  3 </span>
                </span>
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" action="#" id="submit_form" method="POST" novalidate="novalidate">
                <div class="form-wizard">
                    <div class="form-body">
                        <ul class="nav nav-pills nav-justified steps">
                            <li class="active" id="litab1">
                                <a data-toggle="tab" class="step disabled" aria-expanded="true">
                                    <span class="number"> 1 </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> व्यक्तिगत विवरण
                                    </span>
                                </a>
                            </li>

                            <li id="litab2" class="">
                                <a data-toggle="tab" class="step disabled">
                                    <span class="number"> 2 </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i>कार्य विवरण
                                    </span>
                                </a>
                            </li>

                            <li id="litab3" class="">
                                <a data-toggle="tab" class="step disabled">
                                    <span class="number"> 3 </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> बैंक विवरण
                                    </span>
                                </a>
                            </li>

                        </ul>
                        <div id="bar" class="progress progress-striped" role="progressbar">
                            <div class="progress-bar progress-bar-success" style="width: 0%;" id="divpross"> </div>
                        </div>
                        <div class="tab-content">
                            <div class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
                            </div>
                            <div class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                            </div>
                            <div class="tab-pane" id="tab1">
                                <h3 class="form-section" style="font-weight:bolder">व्यक्तिगत विवरण प्रदान करें</h3>
                                <div class="form-body" style="padding: 0px !important">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12" id="lblname">नाम<span class="Mandatory">*</span></label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.applicant_name, new { @class = "form-control", @id = "txtName", @placeholder = "नाम ", @Maxlength = 20 })
                                                    @Html.HiddenFor(m => m.applicant_code, new { @id = "hfapplicant_code" })
                                                    @Html.HiddenFor(m => m.steps, new { @id = "hfstep" })
                                                    @Html.HiddenFor(m => m.DistCode, new { @id = "hfDistCode" })
                                                    @Html.HiddenFor(m => m.TehsilCode, new { @id = "hfTehsilCode" })
                                                    @Html.HiddenFor(m => m.BlockCode, new { @id = "hfBlockCode" })
                                                    @Html.HiddenFor(m => m.VillCode, new { @id = "hfVillCode" })
                                                    @Html.HiddenFor(m => m.yojana_code, new { @id = "hfyojana_code" })

                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12" id="lbldob">जन्मतिथि<span class="Mandatory">*</span></label>
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.inputdob, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return IsNumeric(event);", @placeholder = "dd/mm/yy", @id = "txtDOB" } })
                                                    @Html.ValidationMessageFor(model => model.inputdob, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12" id="lbladhar">आधार कार्ड नं0<span class="Mandatory">*</span></label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.adhar_no, new { @class = "form-control", @id = "txtAdhar_card_No", @placeholder = "आधार कार्ड नं0 ", @onkeypress = "return IsNumeric(event);", @Maxlength = 12 })

                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12" id="lblfather">पिता/पति का नाम<span class="Mandatory">*</span></label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.Husband_father_name, new { @class = "form-control", @id = "txtHusband_father_name", @placeholder = "पिता/पति का नाम ", @Maxlength = 20 })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12" id="lbladress">पत्र व्यवहार का पता<span class="Mandatory">*</span></label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.current_address, new { @class = "form-control", @id = "txtCurrentAddress", @placeholder = "पत्र व्यवहार का पता", @Maxlength = 200 })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12" id="lblPeradress">स्थाई पता<span class="Mandatory">*</span></label>
                                                <div class="col-md-12">

                                                    @Html.TextBoxFor(m => m.permanent_address, new { @class = "form-control", @id = "txtPermanent_Address", @placeholder = "स्थाई पता", @Maxlength = 200 })

                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12" id="lbldist">जनपद <span class="Mandatory">*</span></label>
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(m => m.DistCode, new List<SelectListItem> { new SelectListItem { Text = "--चयन करे--", Value = "-1" } }, new { @id = "ddlDistrict", @class = "form-control" })



                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">तहसील </label>
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(m => m.TehsilCode, new List<SelectListItem>(), "--चयन करे--", new { @id = "ddlTehsil", @class = "form-control" })
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">ब्लॉक</label>
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(m => m.BlockCode, new List<SelectListItem>(), "--चयन करे--", new { @id = "ddlBlock", @class = "form-control" })
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">ग्राम </label>
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(m => m.VillCode, new List<SelectListItem>(), "--चयन करे--", new { @id = "ddlVillage", @class = "form-control" })
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">मोबाइल नं0<span class="Mandatory">*</span></label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.mobile_no, new { @class = "form-control", @id = "txtMobile_No", @placeholder = "मोबाइल नं0", @onkeypress = "return IsNumeric(event);", @Maxlength = 10 })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">ई-मेल आई0डी0 (यदि हो तो)	</label>
                                                <div class="col-md-12">

                                                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", @id = "txtEmailID", @placeholder = "ई-मेल आई0डी0 (यदि हो तो)", @Maxlength = 50 })

                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                                <div class="portlet-title">
                                    <br />
                                    <div class="caption">
                                        &nbsp;&nbsp;&nbsp;<i class="icon-layers font-red"></i>
                                        <span class="caption-subject font-red bold uppercase">

                                            नोटिस &nbsp;&nbsp;&nbsp; <input type="checkbox" id="chkaadhar" checked="checked" />  मुझे इस योजना में अपना आधार नंबर देने में कोई आपत्ति  नहीं है ।
                                            @*<span class="step-title"> ध्यान दें </span>*@
                                        </span>

                                    </div>
                                </div>
                                @*<div class="row ">

                                        <div class="form-group">

                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-10 bold">
                                                <p class="font-red"><input type="checkbox" id="chkaadhar" checked="checked" />  मुझे अपना आधार नंबर इस योजना में देने में कोई आपत्ति  नहीं है </p>
                                            </div>

                                        </div>
                                    </div>*@
                            </div>
                            <div class="tab-pane" id="tab2">
                                <h3 class="form-section" style="font-weight:bolder">कार्य विवरण</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12" id="lblcraftwork">शिल्प जिसमें कार्यरत हैं<span class="Mandatory">*</span></label>
                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.working_craftwork, new { @class = "form-control", @id = "txtworking_craftwork", @placeholder = "शिल्प का नाम", @Maxlength = 50  })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12" id="lblartisian_no">आर्टीजन कार्ड <span class="Mandatory">*</span></label>

                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.artisian_no, new { @class = "form-control", @id = "txtartisian_no", @placeholder = "आर्टीजन कार्ड", @Maxlength = 50 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12" id="lbl_workexpyear">कार्य अनुभव <span class="Mandatory">*</span></label>

                                            <div class="col-md-3">

                                                @Html.TextBoxFor(m => m.work_exp, new { @class = "form-control", @id = "txtwork_exp", @placeholder = "कार्य अनुभव", @Maxlength = 2 , @onkeypress = "return IsNumeric(event);" })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">
                                    
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12" id="lbl_workexp">हस्तविशिष्ट के क्षेत्र में किये कायों का विवरण<span class="Mandatory">*</span></label>

                                            <div class="col-md-12">
                                                @Html.TextAreaFor(m => m.handicraft_work, new { @class = "form-control", @id = "txthandicraft_work", @placeholder = "कायों का विवरण", @Maxlength = 100 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">प्राप्त पुरस्कार का विवरण</label>

                                            <div class="col-md-12">
                                                @Html.TextAreaFor(m => m.awards, new { @class = "form-control", @id = "txtawards", @placeholder = "प्राप्त पुरस्कार", @Maxlength = 100 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">प्राप्त पुरस्कार का वर्ष </label>

                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.inputawardyear, new { @class = "form-control", @id = "txtawardsyear", @placeholder = "प्राप्त पुरस्कार का वर्ष  ", @Maxlength = 100 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                            </div>

                            <div class="tab-pane" id="tab3">
                                <h3 class="form-section" style="font-weight:bolder">बैंक विवरण</h3>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12" id="lblifsc_code">आईएफएससी कोड <span class="Mandatory">*</span></label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.ifsc, new { @class = "form-control", @id = "txt_IFSCCode", @placeholder = "आईएफएससी कोड", @Maxlength = 16 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <label class="control-label col-md-12" id="lblbankname"> बैक का नाम <span class="Mandatory">*</span></label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(m => m.bank_name, new List<SelectListItem> { new SelectListItem { Text = "--चयन करे--", Value = "-1" } }, new { @id = "ddl_bankname", @class = "form-control", @disabled = "disabled" })


                                                <span class="help-block"></span>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <label class="control-label col-md-12" id="lblbranchtype">निकटतम बैक शाखा  का नाम <span class="Mandatory">*</span></label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(m => m.branch_name, new List<SelectListItem> { new SelectListItem { Text = "--चयन करे--", Value = "-1" } }, new { @id = "ddl_branch_name", @class = "form-control", @disabled = "disabled" })


                                            </div>
                                        </div>




                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12" id="lblBankbranchName">बैक का पता<span class="Mandatory">*</span></label>
                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.branch_Address, new { @class = "form-control", @id = "txt_branch_Address", @onkeypress = "return IsNumeric(event);", @placeholder = "बैक का पता", @disabled = "disabled" })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>






                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label style="color:#fff">.</label>
                                            <div class="col-md-12">
                                                <input type="radio" id="rbtcity" name="rbtV" value="C" onclick="funrbtcity()"> शहरी क्षेत्र
                                                <input type="radio" id="rbtvillage" name="rbtV" value="V" onclick="funrbtvillage()"> ग्रामीण क्षेत्र


                                            </div>

                                            <input type="hidden" value="N" id="hfIsVillage" />
                                            <span class="help-block"></span>
                                        </div>

                                    </div>
                                    <!--/span-->
                                    <!--/span-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12" id="lblBankAcct">बैक खाता सं0 <span class="Mandatory">*</span></label>
                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.bank_account_no, new { @class = "form-control", @id = "txt_BankAccountNo", @placeholder = "बैक खाता सं0", @Maxlength = 16 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <!--/span-->
                                    <!--/span-->
                                    <!--/span-->
                                    <div class="portlet-title">
                                        <br />
                                        <div class="caption">
                                            &nbsp;&nbsp;&nbsp;<i class="icon-layers font-red"></i>
                                            <span class="caption-subject font-red bold uppercase">
                                                नोटिस&nbsp;&nbsp;&nbsp;
                                                <input type="checkbox" id="chkdeclaration" />    मैं घोषणा करता / करती हूँ की मेरे  द्वारा   दी गयी समस्त सूचना सही है। इसके लिए में  पूर्णतया  उत्तरदायी हूँ ।
                                                @*<span class="step-title"> ध्यान दें </span>*@
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab4"><button onclick="funopen('../USER/Uploadform')" class="btn btn-outline green button-next">दस्तावेज़ अपलोड करें</button>&nbsp;&nbsp;<button onclick="funopen('../user/Print_spy')" class="btn btn-outline green button-next">शिल्पकारों के लिए पेंशन योजना प्रति</button>&nbsp;&nbsp;<button onclick="funopen('../user/spy_affidavite')" class="btn btn-outline green button-next">स्वप्रमाणित घोषणा पत्र</button>&nbsp;&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-9 col-md-12">

                                <button type="button" class="btn btn-outline yellow button-next hide" onclick="funback()" id="btnback"><i class="fa fa-angle-left"></i>Back</button>
                                <button type="button" class="btn btn-outline green button-next" onclick="myfunction()" id="btncont">Continue<i class="fa fa-angle-right"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" onclick="modalclose()">&times;</button>
                    <h3><i class="icon-info"></i>&nbsp;&nbsp;&nbsp;<label class="font-red"> महत्वपूर्ण   सूचना   </label>  </h3>
                </div>
                <div class="modal-body">
                    <form>
                        <p class="font-red">
                            कृपया सबमिट बटन क्लिक कर ने से पूर्व  प्रार्थना पत्र की समस्त प्रविष्टि पूर्णतया जांचले । इसके पश्चात प्रार्थना पत्र में  संशोधन संभव नहीं है  ।
                        </p>
                    </form>
                </div>
                @*
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="funbanksave()">Submit</button>
                    <button type="button" class="btn btn-danger" onclick="modalclose()">Close</button>
                </div>
            </div>

        </div>
    </div>
            <script>
                function funopen(url) {
                    window.open(url, '_blank');
                }

                function funbanksave() {
                    var Objform = {
                        "applicant_code": document.getElementById("hfapplicant_code").value,//hfyojana_code
                        "yojana_code": document.getElementById("hfyojana_code").value,
                        "applicant_name": document.getElementById("txtName").value,
                        "inputdob": document.getElementById("txtDOB").value,
                        "adhar_no": document.getElementById("txtAdhar_card_No").value,
                        "Husband_father_name": document.getElementById("txtHusband_father_name").value,
                        "current_address": document.getElementById("txtCurrentAddress").value,
                        "permanent_address": document.getElementById("txtPermanent_Address").value,
                        "mobile_no": document.getElementById("txtMobile_No").value,
                        "email": document.getElementById("txtEmailID").value == "" ? " " : document.getElementById("txtEmailID").value,
                        "bank_code": document.getElementById("ddl_bankname").value,
                        "branch_code": document.getElementById("ddl_branch_name").value,
                        "bank_account_no": document.getElementById("txt_BankAccountNo").value,
                        "ifsc": document.getElementById("txt_IFSCCode").value,
                        "DistCode": document.getElementById("ddlDistrict").value,
                        "TehsilCode": document.getElementById("ddlTehsil").value,
                        "BlockCode": document.getElementById("ddlBlock").value,
                        "VillCode": document.getElementById("ddlVillage").value,
                        "steps": 3,
                        "working_craftwork": document.getElementById("txtworking_craftwork").value,
                        "artisian_no": document.getElementById("txtartisian_no").value,
                        "awards": document.getElementById("txtawards").value,
                        "handicraft_work": document.getElementById("txthandicraft_work").value,
                        "branch_Address": document.getElementById("txt_branch_Address").value,
                        "inputawardyear": document.getElementById("txtawardsyear").value == "" ? "01/01/1900" : document.getElementById("txtawardsyear").value,
                        "work_exp": document.getElementById("txtwork_exp").value,

                        //txt_IFSCCode

                    }
                    $.ajax({

                        url: '/User/InsertUpdateSPY_Applicant',
                        data: JSON.stringify({ Objform: Objform, sptype: 2 }),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.includes("Update")) {
                                $("#divpross").css('width', '100%');
                                $("#litab1").addClass('done')
                                $("#litab2").addClass('done')
                                $("#litab3").addClass('done')
                                $("#litab4").addClass('active')

                                $("#tab4").addClass('active');
                                $("#tab3").removeClass('active');
                                $("#btncont").addClass('hide');
                                $("#btnback").addClass('hide');
                                $("#myModal").css("display", "none");
                                $("#myModal").removeClass("in");
                            }
                            else {
                                alert(data);
                            }
                        }
                    });



                    return;
                }

                function modalclose() {
                    $("#myModal").css("display", "none");
                    $("#myModal").removeClass("in");
                }

                function funback() {
                    if ($("#tab1").hasClass('active')) {
                        $("#btnback").addClass('hide');
                        $("#btncont").html('Continue');
                    }
                    else if ($("#tab2").hasClass('active')) {

                        $("#tab1").addClass('active');
                        $("#tab2").removeClass('active');
                        $("#btncont").html('Continue');

                    }
                    else if ($("#tab3").hasClass('active')) {

                        $("#tab2").addClass('active');
                        $("#tab3").removeClass('active');
                        $("#btncont").html('Continue');
                    }
                    else if ($("#tab4").hasClass('active')) {

                        $("#tab3").addClass('active');
                        $("#tab4").removeClass('active');
                        $("#btncont").html('Submit')

                    }
                    else if ($("#tab5").hasClass('active')) {

                        $("#tab4").addClass('active');
                        $("#tab5").removeClass('active');

                    }
                }
                function myfunction() {
                    if ($("#tab1").hasClass('active')) {
                        if ($('#chkaadhar').prop('checked')) {

                        }
                        else {
                            $('#chkaadhar').focus();
                            alert("Please check declaration");
                            return;
                        }
                        if (document.getElementById("txtName").value == "") {
                            document.getElementById("txtName").focus();
                            $('#lblname').css('color', 'red');
                            alert("नाम");
                            return;
                        }
                        if (document.getElementById("txtDOB").value == "") {
                            document.getElementById("txtDOB").focus();
                            $('#lbldob').css('color', 'red');
                            alert("जन्म की तारीख");
                            return;
                        }
                        if (document.getElementById("txtHusband_father_name").value == "") {
                            document.getElementById("txtHusband_father_name").focus();
                            $('#lblfather').css('color', 'red');
                            alert("पिता/पति का नाम");
                            return;
                        }
                        if (document.getElementById("txtAdhar_card_No").value == "") {
                            document.getElementById("txtAdhar_card_No").focus();
                            $('#lbladhar ').css('color', 'red');
                            alert("आधार कार्ड नं0 ");
                            return;
                        }
                        if (document.getElementById("txtMobile_No").value == "") {
                            document.getElementById("txtMobile_No").focus();
                            $('#lblphone').css('color', 'red');
                            alert("मोबाइल नं0 ");
                            return;
                        }

                        if (document.getElementById("txtCurrentAddress").value == "") {
                            document.getElementById("txtCurrentAddress").focus();
                            $('#lbladress').css('color', 'red');
                            alert("पत्र व्यवहार का पता");
                            return;
                        }
                        if (document.getElementById("txtPermanent_Address").value == "") {
                            document.getElementById("txtPermanent_Address").focus();
                            $('#lblPeradress').css('color', 'red');
                            alert("स्थाई पता");
                            return;
                        }
                        if (document.getElementById("ddlDistrict").value == "-1") {
                            document.getElementById("ddlDistrict").focus();
                            $('#lbldist').css('color', 'red');
                            alert("जनपद");
                            return;
                        }
                        var Objform = {
                            "applicant_code": document.getElementById("hfapplicant_code").value,//hfyojana_code
                            "yojana_code": document.getElementById("hfyojana_code").value,
                            "applicant_name": document.getElementById("txtName").value,
                            "inputdob": document.getElementById("txtDOB").value,
                            "adhar_no": document.getElementById("txtAdhar_card_No").value,
                            "Husband_father_name": document.getElementById("txtHusband_father_name").value,
                            "current_address": document.getElementById("txtCurrentAddress").value,
                            "permanent_address": document.getElementById("txtPermanent_Address").value,
                            "mobile_no": document.getElementById("txtMobile_No").value,
                            "email": document.getElementById("txtEmailID").value == "" ? " " : document.getElementById("txtEmailID").value,
                            "bank_code": "0",
                            "branch_code": 0,
                            "bank_account_no": document.getElementById("txt_BankAccountNo").value,
                            "ifsc_code": 0,
                            "DistCode": document.getElementById("ddlDistrict").value,
                            "TehsilCode": document.getElementById("ddlTehsil").value,
                            "BlockCode": document.getElementById("ddlBlock").value,
                            "VillCode": document.getElementById("ddlVillage").value,
                            "steps": 1,

                        }
                        $.ajax({

                            url: '/User/InsertUpdateSPY_Applicant',
                            data: JSON.stringify({ Objform: Objform, sptype: 2 }),
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (data.includes("Update")) {
                                    $("#divpross").css('width', '40%');
                                    $("#litab2").addClass('active');
                                    $("#litab1").removeClass('active');
                                    $("#litab1").addClass('done');
                                    $("#tab2").addClass('active');
                                    $("#tab1").removeClass('active');
                                    $("#btnback").removeClass('hide');
                                    $("#btncont").html('Continue');
                                    //alert(data);
                                }
                                else {
                                    alert(data);
                                }
                            }
                        });



                        return;
                    }
                    else if ($("#tab2").hasClass('active')) {
                        if (document.getElementById("txtworking_craftwork").value == "") {
                            document.getElementById("txtworking_craftwork").focus();
                            $('#lblcraftwork').css('color', 'red');
                            alert("शिल्प जिसमें कार्यरत हैं");
                            return;
                        }
                        if (document.getElementById("txtartisian_no").value == "") {
                            document.getElementById("txtartisian_no").focus();
                            $('#lblartisian_no').css('color', 'red');
                            alert("आर्टीजन कार्ड");
                            return;
                        }
                        if (document.getElementById("txthandicraft_work").value == "") {
                            document.getElementById("txthandicraft_work").focus();
                            $('#lbl_workexp').css('color', 'red');
                            alert("हस्तविशिष्ट के क्षेत्र में किये कायों का विवरण");
                            return;
                        }
                        if (document.getElementById("txtwork_exp").value == "") {
                            document.getElementById("txtwork_exp").focus();
                            $('#lbl_workexpyear').css('color', 'red');
                            alert("कार्य अनुभव ");
                            return;
                        }

                        if (parseInt(document.getElementById("txtwork_exp").value) <=0) {
                            document.getElementById("txtwork_exp").focus();
                            $('#lbl_workexpyear').css('color', 'red');
                            alert("कार्य अनुभव ");
                            return;
                        }
                        if (document.getElementById("txtawards").value != "")
                        {
                            if (document.getElementById("txtawardsyear").value=="") {
                                alert("प्राप्त पुरस्कार का वर्ष");
                                return;
                            }
                        }
                        var Objform = {
                            "applicant_code": document.getElementById("hfapplicant_code").value,//hfyojana_code
                            "yojana_code": document.getElementById("hfyojana_code").value,
                            "applicant_name": document.getElementById("txtName").value,
                            "inputdob": document.getElementById("txtDOB").value,
                            "adhar_no": document.getElementById("txtAdhar_card_No").value,
                            "Husband_father_name": document.getElementById("txtHusband_father_name").value,
                            "current_address": document.getElementById("txtCurrentAddress").value,
                            "permanent_address": document.getElementById("txtPermanent_Address").value,
                            "mobile_no": document.getElementById("txtMobile_No").value,
                            "email": document.getElementById("txtEmailID").value == "" ? " " : document.getElementById("txtEmailID").value,
                            "bank_code": "0",
                            "branch_code": 0,
                            "bank_account_no": document.getElementById("txt_BankAccountNo").value,
                            "ifsc_code": 0,
                            "DistCode": document.getElementById("ddlDistrict").value,
                            "TehsilCode": document.getElementById("ddlTehsil").value,
                            "BlockCode": document.getElementById("ddlBlock").value,
                            "VillCode": document.getElementById("ddlVillage").value,
                            "steps": 2,
                            "working_craftwork": document.getElementById("txtworking_craftwork").value,
                            "artisian_no": document.getElementById("txtartisian_no").value,
                            "awards": document.getElementById("txtawards").value,
                            "handicraft_work": document.getElementById("txthandicraft_work").value,
                            "inputawardyear": document.getElementById("txtawardsyear").value == "" ? "01/01/1900" : document.getElementById("txtawardsyear").value,
                            "work_exp": document.getElementById("txtwork_exp").value,
                        }
                        $.ajax({

                            url: '/User/InsertUpdateSPY_Applicant',
                            data: JSON.stringify({ Objform: Objform, sptype: 2 }),
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (data.includes("Update")) {
                                    $("#divpross").css('width', '70%');
                                    $("#litab3").addClass('active');
                                    $("#litab2").removeClass('active');
                                    $("#litab2").addClass('done');
                                    $("#tab3").addClass('active');
                                    $("#tab2").removeClass('active');
                                    $("#btnback").removeClass('hide');
                                    $("#btncont").html('Continue');
                                    //alert(data);
                                }
                                else {
                                    alert(data);
                                }
                            }
                        });
                        return;
                    }
                    else if ($("#tab3").hasClass('active')) {
                        if ($('#chkdeclaration').prop('checked')) {

                        }
                        else {
                            $('#chkdeclaration').focus();
                            alert("कृपया घोषणा ध्यान से पढ़े और स्वीकार  करे ")
                            return;
                        }
                        if (document.getElementById("txt_IFSCCode").value == "") {
                            $('#lblifsc_code').css('color', 'red');
                            document.getElementById("txt_IFSCCode").focus();
                            alert("आईएफएससी कोड ");
                            return;
                        }

                        if (document.getElementById("ddl_bankname").value == "-1") {
                            $('#lblbankname').css('color', 'red');
                            document.getElementById("ddl_bankname").focus();
                            alert("कृपया ifsc code का चयन प्रविस्ट सुझावो  में  से करे  ");
                            return;
                        }
                        if (document.getElementById("ddl_branch_name").value == "-1") {
                            $('#lblbranchtype').css('color', 'red');
                            document.getElementById("ddl_branch_name").focus();
                            alert("कृपया ifsc code का चयन प्रविस्ट सुझावो  में  से करे  ");
                            return;
                        }
                        //if (document.getElementById("txt_Depositbankbranch").value == "") {
                        //    $('#lbldeposit_amt').css('color', 'red');
                        //    document.getElementById("txt_Depositbankbranch").focus();
                        //    alert("बैक शाखा में जमा धनराशी");
                        //    return;
                        //}
                        //if (document.getElementById("txt_BankbranchName").value == "") {
                        //    $('#lblBankbranchName').css('color', 'red');
                        //    document.getElementById("txt_BankbranchName").focus();
                        //    alert("बैक शाखा का नाम");
                        //    return;
                        //}
                        if (document.getElementById("txt_BankAccountNo").value == "") {
                            $('#lblBankAcct').css('color', 'red');
                            document.getElementById("txt_BankAccountNo").focus();
                            alert("बैक खाता सं0 ");
                            return;
                        }

                        //if (document.getElementById("txt_Owndeposit").value == "") {
                        //    $('#lblOwndeposit').css('color', 'red');
                        //    document.getElementById("lblOwndeposit").focus();
                        //    alert("स्वयं का अंशदान ");
                        //    return;
                        //}
                        //if (parseFloat(document.getElementById("txt_Owndeposit").value) == 0) {
                        //    $('#lblOwndeposit').css('color', 'red');
                        //    document.getElementById("txt_Owndeposit").focus();
                        //    alert("स्वयं का अंशदान ");
                        //    return;
                        //}

                        $("#myModal").css("display", "block");
                        $("#myModal").addClass("in");
                    }
                }
            </script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#ddlDistrict').change(function () {

                        // alert("done");
                        $.ajax({
                            type: "post",
                            url: "/Form/GetTehsil",
                            data: { DistID: $('#ddlDistrict').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                $('#ddlTehsil').empty();
                                //var district = "<option value=0>Select</option>";
                                var district = '';
                                for (var i = 0; i < data.length; i++) {
                                    district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                //  district = district + '</select>';
                                //alert(district);

                                $('#ddlTehsil').append(district);

                                $('#ddlBlock').empty();
                                var block = "<option value=-1>--चयन करे--</option>";
                                $('#ddlBlock').append(block);

                                $('#ddlVillage').empty();
                                var Village = "<option value=-1>--चयन करे--</option>";
                                $('#ddlVillage').append(Village);
                            }
                        });
                    });
                    $('#ddlTehsil').change(function () {
                        //alert($('#ddlTehsil').val());
                        $.ajax({
                            type: "post",
                            url: "/Form/GetBlock",
                            data: { TehID: $('#ddlTehsil').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                $('#ddlBlock').empty();
                                //   var block = '<option value=0>Select</option>';
                                // var district = "<select id='ddlTehsil'>";
                                var block = '';
                                for (var i = 0; i < data.length; i++) {
                                    block = block + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                //  district = district + '</select>';
                                //alert(district);
                                $('#ddlBlock').append(block);

                                $('#ddlVillage').empty();
                                var Village = "<option value=-1>--चयन करे--</option>";
                                $('#ddlVillage').append(Village);
                            }
                        });
                    });
                    $('#ddlBlock').change(function () {
                        $.ajax({
                            type: "post",
                            url: "/Form/GetVillage",
                            data: { BlockID: $('#ddlBlock').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                $('#ddlVillage').empty();
                                // var village = "<option value=0>Select</option>";
                                var village = '';
                                for (var i = 0; i < data.length; i++) {
                                    village = village + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                //  district = district + '</select>';
                                //alert(district);

                                $('#ddlVillage').append(village);
                            }
                        });

                    });
                });
               
            </script>
            <script type="text/javascript">
                function res() {
                    location.reload();
                }
                var specialKeys = new Array();
                specialKeys.push(47); // for Forward Slash(/)
                specialKeys.push(8); //Backspace
                specialKeys.push(9); // Tab
                specialKeys.push(46); // for .
                specialKeys.push(37); // for left Arrow
                // specialKeys.push(39); // for Right Arrow
                function IsNumeric(e) {
                    var keyCode = e.which ? e.which : e.keyCode
                    var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1); // For Decimal To All Number
                    if (ret == false) {
                        alert("Only numaric value allwed.");
                    }
                    return ret;
                }
                $(document).ready(function () {
                    try {
                        $("input[type='text']").each(function () {
                            $(this).attr("autocomplete", "nope");
                        });
                    }
                    catch (e)
                    { }
                });
                $(document).ready(function () {
                    if (document.getElementById("hfstep").value == "0") {
                        $("#divpross").css('width', '15%');
                        $("#litab1").addClass('active')
                        $("#litab2").removeClass('active')
                        $("#litab3").removeClass('active')
                        $("#litab4").removeClass('active')

                        $("#tab1").addClass('active');
                        $("#btnback").addClass('hide');
                    }
                    if (document.getElementById("hfstep").value == "1") {
                        $("#divpross").css('width', '40%');
                        $("#litab1").addClass('done')
                        $("#litab2").addClass('active')
                        $("#litab3").removeClass('active')
                        $("#litab4").removeClass('active')

                        $("#tab2").addClass('active');
                        $("#tab1").removeClass('active');
                        $("#btnback").removeClass('hide');
                    }
                    if (document.getElementById("hfstep").value == "2") {
                        $("#divpross").css('width', '70%');
                        $("#litab1").addClass('done')
                        $("#litab2").addClass('done')
                        $("#litab3").addClass('active')
                        $("#litab4").removeClass('active')

                        $("#tab3").addClass('active');
                        $("#tab2").removeClass('active');
                        $("#btnback").removeClass('hide');
                    }
                    if (document.getElementById("hfstep").value == "3") {
                        $("#divpross").css('width', '100%');
                        $("#litab1").addClass('done')
                        $("#litab2").addClass('done')
                        $("#litab3").addClass('done')
                        $("#litab4").addClass('active')

                        $("#tab4").addClass('active');
                        $("#tab3").removeClass('active');
                        $("#btncont").addClass('hide');
                        $("#btnback").addClass('hide');
                    }

                });
                function validateEmail(txt) {
                    var emailText = txt.value;
                    var pattern = /^[a-zA-Z0-9\-_]+(\.[a-zA-Z0-9\-_]+)*@@[a-z0-9]+(\-[a-z0-9]+)*(\.[a-z0-9]+(\-[a-z0-9]+)*)*\.[a-z]{2,4}$/;
                    if (pattern.test(emailText)) {
                        return true;
                    } else {
                        txt.value = "";
                        alert('Bad email address: ' + emailText);
                        return false;
                    }
                }
                $.ajax({
                    type: "post",
                    url: "/User/GetDistrict",
                    data: {},
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $('#ddlDistrict').empty();
                        var ddlComapnyType = "";
                        //var district = '';
                        for (var i = 0; i < data.length; i++) {
                            ddlComapnyType = ddlComapnyType + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        //district = district + '</select>';
                        //alert(district);
                        $('#ddlDistrict').append(ddlComapnyType);
                        $('#ddlDistrict').val($('#hfDistCode').val());
                        $.ajax({
                            type: "post",
                            url: "/IndustrialAreaMaster/GetTehsil",
                            data: { DistID: $('#hfDistCode').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                $('#ddlTehsil').empty();
                                var district = "";
                                //var district = '';
                                for (var i = 0; i < data.length; i++) {
                                    district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                //district = district + '</select>';
                                //alert(district);
                                $('#ddlTehsil').append(district);
                                $('#ddlTehsil').val($('#hfTehsilCode').val());
                            }
                        });
                        $.ajax({
                            type: "post",
                            url: "/IndustrialAreaMaster/GetBlock",
                            data: { TehID: $('#hfTehsilCode').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                $('#ddlBlock').empty();
                                var block = '';
                                // var district = "<select id='ddlTehsil'>";
                                //var block = '';
                                for (var i = 0; i < data.length; i++) {
                                    block = block + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                //  district = district + '</select>';
                                //alert(district);
                                $('#ddlBlock').append(block);
                                $('#ddlBlock').val($('#hfBlockCode').val());
                            }
                        });
                        $.ajax({
                            type: "post",
                            url: "/IndustrialAreaMaster/GetVillage",
                            data: { BlockID: $('#hfBlockCode').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                $('#ddlVillage').empty();
                                var village = "";
                                //var village = '';
                                for (var i = 0; i < data.length; i++) {
                                    village = village + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                //  district = district + '</select>';
                                //alert(district);
                                $('#ddlVillage').append(village);
                                $('#ddlVillage').val($('#hfVillCode').val());
                            }
                        });
                    }
                });
                function sum() {
                    var Mcost = document.getElementById("txt_machinerycost").value == "" ? "0" : document.getElementById("txt_machinerycost").value;
                    var wcost = document.getElementById("txt_workingcapital").value == "" ? "0" : document.getElementById("txt_workingcapital").value;
                    var Total = parseFloat(Mcost) + parseFloat(wcost);
                    document.getElementById("txtprojectcost").value = parseFloat(Total).toFixed(2);

                }
                function funrbtmanufacture() {
                    var IsShed = $('#rbtmanufacture').val();  // $('#chkPlotShedOption').bootstrapSwitch('state');
                    if (IsShed == "M") {
                        $("#txt_manufacturing").removeClass('hide');
                        $("#txt_services").addClass('hide');
                        $("#hfmanu").val('M');


                    }
                }
                function funrbtservice() {
                    var IsShed = $('#rbtservice').val();  // $('#chkPlotShedOption').bootstrapSwitch('state');
                    if (IsShed == "S") {
                        $("#txt_services").removeClass('hide');
                        $("#txt_manufacturing").addClass('hide');
                        $("#hfmanu").val('S');

                    }
                }
                function fun5self_share() {
                    var Cost = document.getElementById("txtprojectcost").value;

                    var Total = (parseFloat(Cost) * parseFloat("0.05"))
                    document.getElementById("txt_Owndeposit").value = parseFloat(Total).toFixed(2);

                }
                function fun10self_share() {
                    var Cost = document.getElementById("txtprojectcost").value;

                    var Total = (parseFloat(Cost) * parseFloat("0.1"))
                    document.getElementById("txt_Owndeposit").value = parseFloat(Total).toFixed(2);
                }
                function funrbtvillage() {

                    document.getElementById("hfIsVillage").value = "Y";

                    $("#lblbranchtype").html("सर्विस शाखा का नाम (ग्रामीण क्षेत्रों हेतु)");

                }
                function funrbtcity() {
                    document.getElementById("hfIsVillage").value = "N";
                    $("#lblbranchtype").html("निकटतम बैक शाखा  का नाम ");
                }
                $.ajax({
                    type: "post",
                    url: "/User/GetRelation",
                    data: {},
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $('#ddlrelation').empty();
                        var village = "";
                        //var village = '';
                        for (var i = 0; i < data.length; i++) {
                            village = village + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        //  district = district + '</select>';
                        //alert(district);
                        $('#ddlrelation').append(village);

                    }
                });
            </script>
            <script>
                var d = new Date();
                var year = d.getFullYear() - 18;
                d.setFullYear(year);

                //$("#txtDOB").datepicker({
                //    dateFormat: "dd/mm/yy",
                //    changeMonth: true,
                //    changeYear: true,
                //    maxDate: year,
                //    minDate: "-100Y",
                //    yearRange: '-100:' + year + '',
                //    defaultDate: d
                //});

                function get_age(born, now) {
                    var birthday = new Date(now.getFullYear(), born.getMonth(), born.getDate());
                    if (now >= birthday)
                        return now.getFullYear() - born.getFullYear();
                    else
                        return now.getFullYear() - born.getFullYear() - 1;
                }

                $(function () {
                    var P = new Array();

                    $("[id$=txt_IFSCCode]").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: '/user/Getifsc/',
                                data: "{ 'Prefix': '" + request.term + "'}",
                                dataType: "json",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    response($.map(data, function (item) {

                                        return { label: item.ifsc_code, value: item.ifsc_code, bank_code: item.bank_code, branch_code: item.branch_code, address: item.address };


                                    }))
                                },
                                error: function (response) {
                                    alert(response.responseText);
                                },
                                failure: function (response) {
                                    alert(response.responseText);
                                }
                            });
                        },
                        select: function (e, i) {
                            $('#txt_branch_Address').val(i.item.address);
                            $('#ddl_bankname').val(i.item.bank_code);
                            $('#ddl_branch_name').val(i.item.branch_code);
                        },
                        //change: function (e, i) {
                        //        $('#txt_branch_Address').val(i.item.address);
                        //        $('#ddl_bankname').val(i.item.bank_code);
                        //        $('#ddl_branch_name').val(i.item.branch_code);
                        //    },

                        minLength: 1
                    });
                });

                $.ajax({
                    type: "post",
                    url: "/User/Getbank",
                    data: {},
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $('#ddl_bankname').empty();
                        var village = "";
                        //var village = '';
                        for (var i = 0; i < data.length; i++) {
                            village = village + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        //  district = district + '</select>';
                        //alert(district);
                        $('#ddl_bankname').append(village);

                    }
                });

                $.ajax({
                    type: "post",
                    url: "/User/Getbranch",
                    data: {},
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $('#ddl_branch_name').empty();
                        var village = "";
                        //var village = '';
                        for (var i = 0; i < data.length; i++) {
                            village = village + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        //  district = district + '</select>';
                        //alert(district);
                        $('#ddl_branch_name').append(village);

                    }
                });

                //$("#txt_IFSCCode").change(function () {



                //});


                $(document).ready(function () {
                    $("#txtawardsyear").datepicker({
                        dateFormat: "dd/mm/yy",
                        changeMonth: true,
                        changeYear: true
                    });
                });

            </script>
}

