@model DI.Models.IndustrialAreaMasterModal

@{
    ViewBag.Title = "GetAreaView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
@using DI.Models;
@using DI.DAL;
@using DI.BLL;

@{
    //var grid = new WebGrid(Model, rowsPerPage: 20);
    DataTable dt = new CommonDA().GetIndustrialAreaInfo(-1,"",-1,-1,-1,-1,"", "", "", CommonBL.Setdate("01/01/1990"), DateTime.Now, CommonBL.Setdate("01/01/1990"), DateTime.Now);
}
<div class="portlet-title">
    <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase"> जनपद में स्थापित औद्योगिक आस्थानो का विवरण </span>
    </div>
    </div>

    @*<div class="btn-group">
        <a class="btn btn-circle btn-default dropdown-toggle" href="javascript:;" data-toggle="dropdown">
            <i class="fa fa-share"></i>
            <span class="hidden-xs"> Tools </span>
            <i class="fa fa-angle-down"></i>
        </a>
        <div class="dropdown-menu pull-right">
            <li>
                <a href="javascript:;"> Export to Excel </a>
            </li>
            <li>
                <a href="javascript:;"> Export to CSV </a>
            </li>
            <li>
                <a href="javascript:;"> Export to XML </a>
            </li>
            
        </div>
    </div>*@

    <div class="portlet-body">
        <div class="table-container">
            
            <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_products">
                <thead>
                    <tr role="row" class="heading">
                        @*<th width="1%">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes" />
                                    <span></span>
                                </label>
                            </th>*@
                      <th width="10%"> क्र० सं० </th>
                      <th width="15%"> आस्थान का नाम </th>
                      <th width="15%"> स्थापना वर्ष </th>
                      <th width="15%">पता </th>
                      <th width="10%"> जनपद </th>
                      <th width="10%"> क्षेत्रफल (वर्ग मी०)</th>
                      <th width="15%"> वर्तमान प्रचलित दर(वर्ग मीटर)</th>
                      <th width="10%"> निकटतम रेलवे स्टेशन से दूरी </th>
                      <th width="10%"> पहुँच सड़क उपलब्धता </th>
                      <th width="10%"> बिजली उपलब्धता</th>
                        <th width="10%">जल निकासी उपलब्धता </th>
                        <th width="10%">पेयजल उपलब्धता </th>
                        <th width="10%">रॉ मटेरियल साइडिंग उपलब्धता </th>
                        <th width="10%">औद्योगिक पार्क उपलब्धता </th>
                        
                    </tr>


                    @if (dt != null)
                    {
                        if (dt.Rows.Count > 0)
                        {
                            for (int i = 0; i < dt.Rows.Count; i++)
                            {
                                <tr role="row" class="filter">
                                    <td>@(i + 1)</td>
                                    <td>@dt.Rows[i]["IndustrialAreaName"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["Establishment1"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["Address"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["DisttName_U"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["AreaPerSqfeet"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["DistancePerSqFeet"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["NearestRailwayStationKm"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["StreetStatus"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["ElectriccityStatus"].ToString().Trim()</td>
                                 
                                    <td>@dt.Rows[i]["DrainageStatus"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["DrinkingWaterStatus"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["RawMaterialsSidingStatus"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["IndustrialParkStatus"].ToString().Trim()</td>
                                    
                                </tr>
                            }
                        }
                    }


                    @*<tr role="row" class="filter">
                            <td> </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="product_id">
                                @Html.TextBoxFor(m => m.SNo, new { @class = "form-control", @id = "txtSNo", @placeholder = "क्र० सं०" })

                             </td>
                            <td>
                                @*<input type="text" class="form-control form-filter input-sm" name="product_name">
                                @Html.TextBoxFor(m => m.IndustrialArea, new { @class = "form-control", @id = "txthouseName_Grid", @placeholder = "आस्थान का नाम" })
                              </td>
                            <td>
                                <select name="product_category" class="form-control form-filter input-sm">
                                    <option value="">Select...</option>
                                    <option value="1">Mens</option>
                                    <option value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Footwear</option>
                                    <option value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clothing</option>
                                    <option value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accessories</option>
                                    <option value="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fashion Outlet</option>
                                    <option value="6">Football Shirts</option>
                                    <option value="7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Premier League</option>
                                    <option value="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Football League</option>
                                    <option value="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Serie A</option>
                                    <option value="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bundesliga</option>
                                    <option value="11">Brands</option>
                                    <option value="12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adidas</option>
                                    <option value="13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nike</option>
                                    <option value="14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airwalk</option>
                                    <option value="15">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;USA Pro</option>
                                    <option value="16">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kangol</option>
                                </select>
                            </td>
                            <td>
                                @*<input type="text" class="form-control form-filter input-sm" name="product_name">
                                @Html.TextBoxFor(m => m.Plot_Number_Grid, new { @class = "form-control", @id = "txtPlot_Number_Grid", @placeholder = "प्लाट सं०" })

                              </td>
                            <td>
                                @Html.TextBoxFor(m => m.Area_Grid, new { @class = "form-control", @id = "txtArea_Grid", @placeholder = "क्षेत्रफल" })
                            </td>
                            <td>
                                @*<input type="text" class="form-control form-filter input-sm" name="product_name">
                                @Html.TextBoxFor(m => m.DisputeStatus_Grid, new { @class = "form-control", @id = "txtDisputeStatus_Grid", @placeholder = "विवाद स्थिति" })

                               </td>
                            <td>
                                <select name="product_status" class="form-control form-filter input-sm">
                                    <option value="">Select...</option>
                                    <option value="published">Published</option>
                                    <option value="notpublished">Not Published</option>
                                    <option value="deleted">Deleted</option>
                                </select>
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.ShedDetail_Grid, new { @class = "form-control", @id = "txtShedDetail_Grid", @placeholder = "शेड विवरण" })
                                @*<input type="text" class="form-control form-filter input-sm" name="product_name">
                            </td>

                            <td>
                                @Html.TextBoxFor(m => m.AllotedDetail_Grid, new { @class = "form-control", @id = "txtAllotedDetail_Grid", @placeholder = "आवंटन विवरण" })
                                @*<input type="text" class="form-control form-filter input-sm" name="product_name">
                            </td>
                            <td>
                                <div class="margin-bottom-5">
                                    <button class="btn btn-sm btn-success filter-submit margin-bottom">
                                        <i class="fa fa-search"></i> Edit
                                    </button>
                                </div>
                                <button class="btn btn-sm btn-default filter-cancel">
                                    <i class="fa fa-times"></i> Delete
                                </button>
                            </td>
                        </tr>*@
                </thead>
                <tbody> </tbody>
            </table>
        </div>
    </div>

