
@{
    ViewBag.Title = "Pramar_patar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;
@using DI.Models;
@using DI.DAL;
@using DI.BLL;


@{
    //var grid = new WebGrid(Model, rowsPerPage: 20);
    DataSet ds = new DataSet();

    //ds = new CommonDA().GetPramarPatar(1);

}

<script type="text/javascript">
      window.history.forward();
</script>

<script language="javascript" type="text/javascript">
        function printDiv(divID) {
            //Get the HTML of div
            var divElements = document.getElementById(divID).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
               "<html><head><title></title></head><body>" +
                "<div align='center' style='margin-left:1%;margin-right:1%;width:100%;'>" +

               divElements + "</div></body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;
        }
</script>



@using (Html.BeginForm("Pramar_patar", "IndustrialAreaMaster", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div style="background-color:white">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="icon-pin font-green"></i>
                <span class="caption-subject bold uppercase">नई इकाई का प्रमाण - पत्र </span>
            </div>
            <div class="col-sm-12" style="text-align: right;  width:85%">

                <button type="button" class="btn green" onclick="javascript:printDiv('reportdiv')" id="btnprint">Print</button>
            </div>
        </div>

        <div style="border:0px solid; width:80%" id="reportdiv">
            @*<div class="portlet-title">


                    <div class="portlet-title">
                        <div class="caption">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <span style="font-size:large"></span>
                                    <span class="caption-helper"></span>
                                </div>
                                <div class="col-sm-6">
                                    <span style="font-size:x-large">नई इकाई का प्रमाण - पत्र</span>
                                    <span class="caption-helper"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            @if (ds != null)
        {
            if (ds.Tables[0] != null)
            {
                if (ds.Tables[0].Rows.Count > 0)
                {
                    for (int i = 0; i < ds.Tables[0].Rows.Count; i++)
                    {
        <table class="table-responsive tblcss" style="width:100%;margin-left:60px">
            <tr><td style="font-size:x-large" align="center">नई इकाई का प्रमाण - पत्र<br /><br /><br /></td></tr>
            <tr>
                <td colspan="2" style="text-align: center;border: none; text-decoration: underline"></td>
            </tr>
            <br />

            <tr></tr>



            <tr><td style="border: none;"></td></tr>
            <tr><td style="border: none;"></td></tr>
            <tr><td style="border: none;"></td></tr>
            <br />
            <br />
            <tr>
                <td style="text-align:justify;border: none;text-indent:-15px;font-size: 20px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    प्रमाणित किया जाता हैं कि मेरे द्वारा प्रस्तावित  @ds.Tables[0].Rows[i]["project_name"].ToString().Trim()  उद्योग / सेवा उद्योग जो  कार्यस्थल <br /> @ds.Tables[0].Rows[i]["permanent_address"].ToString().Trim() कानपुर नगर में  स्थापित किया जाना प्रस्तावित है |
                    यह भी किया जाता है कि  उपरोक्त प्रस्तावित <br /> उद्योग / सेवा  उद्योग पूर्ण रुपेण नयी  इकाई होगी | इसे स्थापित कर संचालित किये जाने वाली इकाई से  क्षेत्र में <br /> रोजगार सृजन के अवसर प्राप्त होंगे |
                </td>
            </tr>
            <tr><td style="border: none;"></td></tr>
            <tr><td style="border: none;"></td></tr>
            <tr><td style="border: none;"></td></tr>
            <tr><td style="border: none;"></td></tr>
            <tr><td style="border: none;"></td></tr>
            <tr><td style="border: none;"></td></tr>
        </table>

        <table id="example1" style="width:46%; margin-left:52%; text-align:justify" align="">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <tr style="background-color:#39b4dd">

            <tr><td style="padding-left:50px;border: none;font-size: 20px;">प्राथी के हस्ताक्षर - </td> </tr>

            <tr><td style="border: none;"></td></tr>
            <tr><td style="padding-left:50px;height:40px;border: none;font-size: 20px;">नाम          -@ds.Tables[0].Rows[i]["applicant_name"].ToString().Trim()</td></tr>
            <tr><td style="border: none;"></td></tr>
            <tr><td style="padding-left:50px;border: none;font-size: 20px;">पिता का नाम   -@ds.Tables[0].Rows[i]["father_name"].ToString().Trim()</td></tr>
            <tr><td style="padding-left:50px;height:40px;border: none;font-size: 20px;">निवास  का  पता  -@ds.Tables[0].Rows[i]["permanent_address"].ToString().Trim()</td></tr>



            @*<tbody>

                    @if (ds != null)
                    {
                        if (ds.Tables[0] != null)
                        {
                            if (ds.Tables[0].Rows.Count > 0)
                            {
                                for (int i = 0; i < ds.Tables[0].Rows.Count; i++)
                                {
                                    <tr role="row" class="filter">
                                        <td>@(i + 1)</td>
                                        <td>@ds.Tables[0].Rows[i]["project_name"].ToString().Trim()</td>
                                        <td>@ds.Tables[0].Rows[i]["bank_office_address"].ToString().Trim()</td>
                                        <td>@ds.Tables[0].Rows[i]["applicant_name"].ToString().Trim()</td>
                                        <td>@ds.Tables[0].Rows[i]["father_name"].ToString().Trim()</td>
                                        <td>@ds.Tables[0].Rows[i]["permanent_address"].ToString().Trim()</td>

                                    </tr>
                                }
                            }
                        }

                    }
                    <tr></tr>

                </tbody>*@

        </table>

                        }
                    }
                }

            }
        </div>
    </div>
}

