    
@model DI.Models.LoginModal
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Industries</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Director of Industries" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/cssLog")
    <link rel="shortcut icon" href="~/Content/Homepage/assets/images/favicon.jpg" /> 
    <style>
        /* Logo Style */
        .fancy{
		font-family: 'cursive';
	    }
	    .site-logo{
		    font-size:3.5em;
		    /*float: left;*/
		    position: relative;
		    padding-top:8px;
		    top: 50%;
		    -webkit-transform: translateY(-50%);
		    -moz-transform: translateY(-50%);
		    transform: translateY(-50%);
	    }

	    .white-nav .site-logo a.logo{
		    color:#111;
		    display: block;
	    }	
	
	    .dark-nav .site-logo a.logo{
		    color:#fff;
		    display: block;
	    }	

	    .site-logo a.logo img{
		    height: auto;
		    max-height: 160px;
		    -webkit-transition: all 1s;
		    -moz-transition: all 1s;
		    transition: all 1s;
	    }

    </style>
</head>
<!-- END HEAD -->
<body class="login">
    <!-- BEGIN : LOGIN PAGE 5-1 -->
    <div class="logo">
        <div class="site-logo fancy">
            <a href="index.html" id="logo-text" class="scroll logo">
                <img src="~/Content/Homepage/assets/images/upgov.png" height="80" width="80" style="margin-top:-14px" /> 
                <span style="color:whitesmoke">
                    Directorate of Industries
                </span>
            </a>

        </div>
        
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        @using (Html.BeginForm("Login", "Login",
                      //new { ReturnUrl = ViewBag.ReturnUrl },
                      FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h3 class="form-title font-green">Sign In</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                @Html.TextBoxFor(a => a.UserName, new { @class = "form-control placeholder-no-fix", @placeholder = "User Name" })
                @Html.ValidationMessageFor(a => a.UserName)
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                @Html.PasswordFor(a => a.Password, new { @class = "form-control placeholder-no-fix", @placeholder = "Password" })
                @Html.ValidationMessageFor(a => a.Password)
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <label><img src="/Login/ShowCaptchaImage" style="margin-top: 8px;" /></label>
                    </div>
                    <div class="col-lg-3" style="font-weight:bolder; margin-top: 18px;">
                        <a href="#"   >Refresh</a>
                    </div>
                    <div class="col-lg-6">
                        @Html.TextBoxFor(a => a.CaptchaText, new { @class = "form-control placeholder-no-fix", @placeholder = "Captcha" })
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <button type="submit" class="btn green uppercase">Login</button>
                <label class="rememberme check mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="remember" value="1" />Remember
                    <span></span>
                </label>
                <a href="#" id="forget-password" class="forget-password">Return to Home</a>
            </div>
            



            <div class="login-options">
                <h4>Find us on</h4>
                <ul class="social-icons">
                    <li>
                        <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
                    </li>
                </ul>
            </div>
            <div class="create-account">
                <p>
                    &nbsp;
                    <a href="javascript:;" id="register-btn" class="uppercase">Forget password</a>
                </p>
            </div>
        }
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="index.html" method="post">
            
        </form>
        <!-- END FORGOT PASSWORD FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        <form class="register-form" action="index.html" method="post">
            
        </form>
        <!-- END REGISTRATION FORM -->
    </div>

        <div class="copyright"> 
            <a href="http://nicsu.up.nic.in">
                2018 © NIC. Powered by NIC UPSU. 
            </a>
        </div>
        
        @Scripts.Render("~/bundles/bootstrapLog1")
        @Scripts.Render("~/bundles/bootstrapLog2")
</body>

</html>