@model DI.Models.LoginModal
@{
    ViewBag.Title = "ProfileUpdate";
}
@{
    if (ViewBag.AlertUpdate!=null)
    {
        <script>
            alert('@ViewBag.AlertUpdate');
        </script>
    }
}

        <div class="portlet-body form">
                        @using (Html.BeginForm("ProfileUpdate", "Login",

                                           FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))

                        {
                @Html.AntiForgeryToken()
                <form method="post">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption font-green">
                                <i class="icon-pin font-green"></i>
                                <span class="caption-subject bold uppercase"> User Profile</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-equalizer font-red-sunglo"></i>
                                            <span class="caption-subject font-red-sunglo bold uppercase"> User Profile Updation </span>
                                            <span class="caption-helper">... </span>
                                        </div>

                                    </div>
                                    <div class="portlet-body form">
                                        <!-- BEGIN FORM-->
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body" style="padding: 0px !important">

                                                <div class="row">

                                                    <div class="col-md-4">
                                                       
                                                            <div class="form-group">
                                                                <label for="form_control_1">Profile Photo</label>
                                                                <br />
                                                                <img id="blah" class="img-res" src="@ViewBag.Base64String" height="220" width="230"/>
                                                                <br />
                                                                <div class="col-md-6">
                                                                    <input type="file" class="btn btn-success" name="pimg" id="pimg" accept=".jpg,.jpeg" onchange="validate_fileupload(this);" />
                                                                </div>
                                                            </div>
                                                        
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-12 " style="text-align:left" id="lblcomtype">Name</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "txtname" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-12" style="text-align:left" id="lblcompname">Name (Hindi)</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextBoxFor(m => m.UserNameHindi, new { @class = "form-control", @id = "txtnamehindi" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-12" style="text-align:left" id="lblpan">Mobile No </label>
                                                                <div class="col-md-12">
                                                                    @Html.TextBoxFor(m => m.UserMobile, new { @class = "form-control", @id = "txtMobile" }) @*, @id = "txt_mask_phone"*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-12" style="text-align:left" id="lblcin"> Official eMail </label>
                                                                <div class="col-md-12">
                                                                    @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control", @id = "txtemail" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-12 " style="text-align:left" id="lblperson">Office Address</label>
                                                                <div class="col-md-12">
                                                                    @Html.TextBoxFor(m => m.UserAddress, new { @class = "form-control", @id = "txtaddress" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-12" style="text-align:left" id="lbldist"> Designation  </label>
                                                                <div class="col-md-12">

                                                                    @Html.TextBoxFor(m => m.Designation, new { @class = "form-control", @id = "txtDesignation" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                   
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                @*<div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-12 " style="text-align:left" id="lblperson">Office Address</label>
                                                            <div class="col-md-12">
                                                                @Html.TextBoxFor(m => m.UserAddress, new { @class = "form-control", @id = "txtaddress" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-12" style="text-align:left" id="lbldist"> Designation  </label>
                                                            <div class="col-md-12">

                                                                @Html.TextBoxFor(m => m.Designation, new { @class = "form-control", @id = "txtDesignation" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    

                                                    <!--/span-->
                                                    
                                                    <!--/span-->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-12" style="text-align:left"> </label>
                                                            <div class="col-md-12">



                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-12" style="text-align:left"> </label>
                                                            <div class="col-md-12">



                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                                        <!--/span-->
                                                    </div>*@

                                                <div class="row">
                                                    @*<div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="form_control_1">Profile Photo</label>
                                                            <br/>
                                                            <img id="blah" class="img-res" src="@ViewBag.Base64String" />
                                                            <br />
                                                            @*<label class="control-label col-md-12" style="text-align:left" id="lblAddress">पता<span class="Mandatory">*</span></label>
                                                            <div class="col-md-12">
                                                                <input type="file" class="btn btn-success" name="pimg" id="pimg" accept=".jpg,.jpeg" onchange="validate_fileupload(this);" />
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                    </div>
                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">

                                                                    <div class="col-md-offset-10 col-md-6">
                                                                        <button type="submit" onclick="valid_form();" class="btn green">Update</button>
                                                                        @*<button type="reset" class="btn red">Cancel</button>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6"> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </form>
                                        <!-- END FORM-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>


    <!-- END SAMPLE FORM PORTLET-->
    <!-- BEGIN SAMPLE FORM PORTLET-->
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                   
                   
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function validate_fileupload(input_element) {
        debugger;
        var fileName = input_element.value;
        var allowed_extensions = new Array("jpg", "jpeg");
        var file_extension = fileName.split('.').pop();
        for (var i = 0; i < allowed_extensions.length; i++) {
            if (allowed_extensions[i] == file_extension) {
                readURL(input_element);
                valid = true; // valid file extension
                return valid;
            }
        }
       // alert('Invalid file');
        event.preventDefault();
        valid = false;
        return valid;
    }

    function valid_form() {
  
        var txtname = $('#txtname').val();
        var txtnamehindi = $('#txtnamehindi').val();
        var txtmobile = $('#txtMobile').val();
        var txtemail = $('#txtemail').val();
        var txtaddress = $('#txtaddress').val();
        var txtDesignation = $('#txtDesignation').val();

        if (txtname == "") {
            alert('Please Enter Your Name.');
            valid = false;
            event.preventDefault();
        }
        else if (txtnamehindi == "") {
            alert('Please Enter Name In hindi.');
            valid = false;
            event.preventDefault();
        }
        else if (txtmobile == "") {
            alert('Please Enter Mobile Number.');
            valid = false;
            event.preventDefault();
        }
       
        else if (txtemail == "") {
            alert('Please Enter EmailID.');
            valid = false;
            event.preventDefault();
        }
        else if (txtaddress == "") {
            alert('Please Enter Your Address.');
            valid = false;
            event.preventDefault();
        }
        
        if (txtDesignation == "") {
            alert('Please Enter Your Designation.');
            valid = false;
            event.preventDefault();
        }
        else { valid = true; }
        return valid;
    }

</script>
