@model DI.Models.CMYSS_Applicant
@{
    Layout = null;
}
<!DOCTYPE html>
@using (Html.BeginForm("Registration_Login", "Login", FormMethod.Post, new { @class = "", enctype = "multipart/form-data", id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <script src="~/scripts/jquery-3.2.1.min.js"></script>
        <script src="~/scripts/bootstrap.min.js"></script>
        <script src="../Content/assets/global/plugins/select2/js/select2.min.js"></script>
        <script src="~/Content/Masking.js"></script>
        <style>
            .Mandatory {
                color: red !important;
            }

            .white {
                color: #000;
                background-color: #fff;
            }
            .btn-facebook {
                color: #ffffff;
                -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
                background-color: #2b4b90;
                *background-color: #133783;
                background-image: -moz-linear-gradient(top, #3b5998, #133783);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
                background-image: -webkit-linear-gradient(top, #3b5998, #133783);
                background-image: -o-linear-gradient(top, #3b5998, #133783);
                background-image: linear-gradient(to bottom, #3b5998, #133783);
                background-repeat: repeat-x;
                border-color: #133783 #133783 #091b40;
                border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
                filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            }

                .btn-facebook:hover,
                .btn-facebook:focus,
                .btn-facebook:active,
                .btn-facebook.active,
                .btn-facebook.disabled,
                .btn-facebook[disabled] {
                    color: #ffffff;
                    background-color: #133783 !important;
                    *background-color: #102e6d !important;
                }

                .btn-facebook:active,
                .btn-facebook.active {
                    background-color: #0d2456 \9 !important;
                }

            .panel-heading {
                text-align: center;
                background-color: #295888 !important;
                color: #fff !important;
            }

            .panel-heading2 {
                text-align: center;
                background-color: #38af05 !important;
                color: #fff !important;
                height: 30px;
            }

            .panel01 {
                padding: 10px;
            }

            .panel02 {
                border: 1px solid #d2d0d0;
                padding: 10px;
            }

            .panel03 {
                padding: 10px;
            }

            input:focus, textarea:focus, select:focus {
                outline: none !important;
                border-color: #38af05 !important;
                box-shadow: 0 0 10px #38af05 !important;
            }

            .pointer {
                cursor: pointer;
            }
        </style>
        <script type="text/javascript">
            var specialKeys = new Array();
            specialKeys.push(8); //Backspace
            specialKeys.push(9); //Tab
            specialKeys.push(46); //Delete
            specialKeys.push(36); //Home
            specialKeys.push(35); //End
            specialKeys.push(37); //Left
            specialKeys.push(39); //Right
            function IsAlphaNumeric(e) {
                var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
                if (keyCode == 32) {
                    return true;
                }
                var ret = ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (specialKeys.indexOf(e.keyCode) != -1 && e.charCode != e.keyCode));
                // document.getElementById("error").style.display = ret ? "none" : "inline";
                // alert("Special Character not allowed");
                return ret;
            }
        </script>
        <script src="~/scripts/sha256.js"></script>
        <script>
            $(document).ready(function () {

                $("#txtDOB").datepicker({

                    dateFormat: "dd/mm/yy",
                    changeMonth: true,
                    changeYear: true,
                    maxDate: year,
                    minDate: "-100Y",
                    yearRange: '-100:' + year + '',
                    defaultDate: d
                });
                $(".select2").select2();

                $('.select2-container--default').removeAttr('style');
                $('.select2-container--default').css('width', '100%');
            });
            function HashPwdwithSalt() {
                var salt = '@Session["salt"]';
                if (document.getElementById("ddlScheme1").value == "") {
                    alert("Please select Scheme");
                    return false;
                }
                if (document.getElementById("txtUserName").value == "") {
                    alert("Please fill UserName");
                    return false;
                }
                if (document.getElementById("txtPassword").value == "") {
                    alert("Please fill Password");
                    return false;
                }
                if (document.getElementById("txtforcapture").value == "") {
                    alert("Please fill Captcha");
                    return false;
                }
                else if (document.getElementById("txtPassword").value != "") {
                    document.getElementById("txtPassword").value = sha256(document.getElementById("txtPassword").value);
                    document.getElementById("txtPassword").value =
                      sha256(document.getElementById("txtPassword").value + salt);
                    var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
                    var Objform = {
                        "yojana_code": document.getElementById("ddlScheme1").value,
                        "UserName": document.getElementById("txtUserName").value,
                        "Password": document.getElementById("txtPassword").value,
                        "CaptchaText": document.getElementById("txtforcapture").value,
                    }
                    $.ajax({
                        url: '/Login/Applicant_Login',
                        data: ({ Model: Objform, __RequestVerificationToken: token }),
                        type: 'POST',
                        success: function (data) {
                            if (data[0] == "Sucess") {
                                window.open(data[1], "_self");
                            }
                            else {
                                alert(data[1]);
                                document.getElementById("txtPassword").value = "";
                                document.getElementById("txtforcapture").value = "";
                                ReloadCaptchaCode();
                            }
                        }
                    });
                }
            }
            function ReloadCaptchaCode() {
                var xmlHTTP = new XMLHttpRequest();
                xmlHTTP.open('GET', '/Login/ShowCaptchaImage', true);
                // Must include this line - specifies the response type we want
                xmlHTTP.responseType = 'arraybuffer';
                xmlHTTP.onload = function (e) {
                    var arr = new Uint8Array(this.response);
                    // Convert the int array to a binary string
                    // We have to use apply() as we are converting an *array*
                    // and String.fromCharCode() takes one or more single values, not
                    // an array.
                    var raw = String.fromCharCode.apply(null, arr);
                    // This works!!!
                    var b64 = btoa(raw);
                    var dataURL = "data:image/jpeg;base64," + b64;
                    document.getElementById("image").src = dataURL;
                };
                xmlHTTP.send();
            }
        </script>
        <link href="~/Content/jquery-ui.css" rel="stylesheet" />
        <script src="~/Content/plugins/jquery-ui.js"></script>
        @Styles.Render("~/Content/PublicPage")
        @Styles.Render("~/Content/cssBlank")
    </head>
    <body style="background-color:#fff" oncontextmenu="return false;">
        <header class="header-two-bars">
            <div class="header-first-bar">
                <div class="header-limiter">
                    <h1><a href="../home/index">Director of Industries<span></span></a></h1>
                    <nav></nav>
                </div>
            </div>
            <div class="header-second-bar">
                <div class="header-limiter">
                    <h2><a href="#" style="font-family: monospacepace;font-weight: 800 !important;font-size: 18px;"> विभिन्न योजनाओ हेतु प्रार्थना पत्र</a></h2>
                    <nav>
                        <a href="#divInst"><i class="fa fa-cogs hide "></i>  </a>
                        <a href="#divdownloads"><i class="fa fa-cloud-download hide"></i>  </a>
                    </nav>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-12 col-md-2offset panel01">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Login to your account</h3>
                            </div>
                            <div class="panel-body">
                                <form accept-charset="UTF-8" role="form">
                                    <fieldset>

                                        <div class="alert alert-danger display-hide">
                                            <button class="close" data-close="alert"></button>
                                            <span> Enter any username and password. </span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label visible-ie8 visible-ie9">Scheme</label>
                                          @Html.DropDownListFor(m => m.Scheme, Model.Scheme, new { @id = "ddlScheme1", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                                            <label class="control-label visible-ie8 visible-ie9">Username</label>
                                            <div class="input-icon">
                                                <i class="fa fa-user"></i>
                                                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" id="txtUserName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label visible-ie8 visible-ie9">Password</label>
                                            <div class="input-icon">
                                                <i class="fa fa-lock"></i>
                                                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" id="txtPassword">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Enter Captcha" name="txtforcapture" id="txtforcapture" maxlength="6">
                                                </div>
                                                
                                                <div class="col-lg-3">
                                                    <label id="lblCaptcha"><img id="image" src="~/Login/ShowCaptchaImage" style="margin-top: 8px;" /></label>
                                                </div>
                                                <div class="col-lg-3" style="font-weight:bolder; margin-top: 18px;">
                                                    <a href="#" onclick="javascript:ReloadCaptchaCode();">Refresh</a>

                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <label class="rememberme mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" name="remember" value="1"> Remember me
                                                <span></span>
                                            </label>
                                            <button type="button" class="btn green pull-right" onclick="HashPwdwithSalt();"> Login </button>
                                        </div>
                                        
                                    </fieldset>
                                </form>
                            </div>
                            <a onclick="fun_forget()"  style="text-align:right; padding-bottom:inherit ;cursor:pointer">Forgot your password </a>
                            <div class="panel-heading">
                                <h3 class="panel-title pointer" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">New User</h3>
                              
                            </div>
                        </div>
                        <div class="panel panel-default"  style="border: 1px solid #ddd;box-shadow: 0 0 4px #ddd; border-radius: 6px 6px;">
                            <h3>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-share font-dark"></i> &nbsp;&nbsp;Application Status</h3>
                            <div class="panel-body">
                                <form accept-charset="UTF-8" role="form">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="input-icon">
                                                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Application No" name="username">
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" class="btn green pull-right"> Know Your Application Status </button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 panel03">
                    <div class="portlet light " style="border: 1px solid #ddd;box-shadow: 0 0 4px #ddd; border-radius: 6px 6px;" id="divdownloads">
                        <div class="portlet-title tabbable-line">
                            <div class="caption" id="down">
                                <i class="icon-cloud-download font-dark"></i>
                                <span class="caption-subject font-dark bold uppercase">Instructions</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#portlet_tab2_1" data-toggle="tab" id="instruction" aria-expanded="true"> Links </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="portlet_tab2_1">
                                    <h4>दस्तावेजों की सूची :-</h4>
                                    <ul>
                                        <li> निर्धारित प्रारूप पर पूर्ण रूप से भरा हुआ प्राथना पत्र </li>
                                        <li> आधार कार्ड की स्व प्रमाणित छाया प्रति</li>
                                        <li> परियोजना रिपोर्ट जिसके प्रत्येक पृष्ठ पर अभियार्थी के हस्ताक्षर होंगे </li>
                                        <li> बैंक पास बुक  अध्यातन एंट्री सहित छाया प्रति</li>
                                        <li>योजना से सम्बंधित सभी विवरण के साथ नोटरी द्वारा प्रमाणित शपथ पत्र</li>
                                        <li> शैक्षणिक योग्यता संबंधी प्रमाण-पत्र(हाई स्कूल या समकक्ष)</li>
                                        <li> उत्तर प्रदेश के मूल निवासी होने का प्रमाण पत्र </li>
                                        <li> नयी इकाई का प्रमाण पत्र </li>
                                        <li>अनु. जाति/ जन.जा /पिछड़ा वर्ग /अल्पसंख्यक / विकलांग / भूतपूर्व सैनिक होने का प्रमाण पत्र </li>
                                        <li>कार्यस्थल  निजी होने का प्रमाण पत्र अथवा ०७ वर्ष की किरायादारी का अनुबंध  पत्र </li>
                                        <li>आवेदक की आयु १८ से ४० वर्ष के मध्य होनी चाहिए </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet light " style="border: 1px solid #ddd;box-shadow: 0 0 4px #ddd; border-radius: 6px 6px;" id="divInst">
                        <div class="portlet-title tabbable-line">
                            <div class="caption" id="down">
                                <i class="icon-info font-dark"></i>
                                <span class="caption-subject font-dark bold uppercase">Downloads</span>
                            </div>

                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#portlet_tab2_1" data-toggle="tab" id="instruction" aria-expanded="true"> Help </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="portlet_tab2_1">
                                    <p> <a href="~/doc/application.pdf">  मुख्यमंत्री युवा स्वरोजगार योजना, उ0प्र0 प्रार्थना-पत्र (दो-प्रतियों में) </a></p>
                                    <p><a href="~/doc/nayi_ekayi.pdf">  नयी इकाई का प्रमाण पत्र प्रारूपं प्रति </a></p>
                                    <p><a href="~/doc/sapthpater.pdf">नोटरी द्वारा प्रमाणित शपथ पत्र प्रारूपं प्रति </a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="height:40px" >
                        <div><button type="button" class="close" data-dismiss="modal">&times;</button></div>
                        <div  style="font-size:24px"><i class="icon-book-open">&nbsp;&nbsp;&nbsp;<label>New Registration </label>  </i></div>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="col-sm-12 panel02">
                              
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label id="lblscheme">Scheme<span class="Mandatory">*</span></label>
                                        @Html.DropDownListFor(m => m.Scheme, new List<SelectListItem> { new SelectListItem { Text = "--चयन करे--", Value = "-1" } }, new { @id = "ddlRegScheme", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label id="lblname">Name<span class="Mandatory">*</span></label>
                                        @Html.TextBoxFor(m => m.applicant_name, new
                                   {
                                       @class = "form-control",
                                       @id = "txtName",
                                       @placeholder = "नाम ",
                                       @Maxlength = 40,
                                       @onkeypress = "return IsAlphaNumeric(event);",
                                       @ondrop = "return false;",
                                       @npaste = "return false;"
                                   })
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label id="lbldob">Date Of Birth<span class="Mandatory">*</span></label>
                                        @Html.EditorFor(model => model.inputdob, new { htmlAttributes = new { @class = "form-control js-datemask", @onkeypress = "return IsNumeric(event,'dob');", @Value = "", @placeholder = "dd/mm/yyyy", @id = "txtDOB", @Maxlength = "10" } })
                                        @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label id="lblfather">Father's Name<span class="Mandatory">*</span></label>
                                        @Html.TextBoxFor(m => m.Husband_father_name, new
                                   {
                                       @class = "form-control",
                                       @id = "txtHusband_father_name",
                                       @placeholder = "पिता/पति का नाम ",
                                       @Maxlength = 40,
                                       @onkeypress = "return IsAlphaNumeric(event);",
                                       @ondrop = "return false;",
                                       @npaste = "return false;"
                                   })
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label id="lbladhar">Aadhaar  No<span class="Mandatory">*</span></label>
                                        @Html.TextBoxFor(m => m.adhar_no, new { @class = "form-control", @id = "txtAdhar_card_No", @placeholder = "आधार कार्ड नं0 ", @onkeypress = "return IsNumeric(event,'N');", @Maxlength = 12 })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label id="lblphone">Phone Number<span class="Mandatory">*</span></label>
                                        @Html.TextBoxFor(m => m.mobile_no, new { @class = "form-control", @id = "txtMobile_No", @placeholder = "मोबाइल नं0", @onkeypress = "return IsNumeric(event,'N');", @Maxlength = 10 })
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label id="lblemail">Email Address</label>
                                        @Html.TextBoxFor(m => m.email, new { @class = "form-control", @id = "txtEmailID", @placeholder = "ई-मेल आई0डी0 (यदि हो तो)", @onblur = "return validateEmail(this)", @Maxlength = "40" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label id="lblphone">State</label>
                                        <input type="text" value="Uttar Pradesh" class="form-control" disabled="disabled">
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label id="lblDistrict">District<span class="Mandatory">*</span></label>
                                        @Html.DropDownListFor(m => m.DistrictNames, new List<SelectListItem> { new SelectListItem { Text = "--चयन करे--", Value = "-1" } }, new { @id = "ddlDistrictNames", @class = "form-control select2" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label id="lbladress">Sponsoring Office<span class="Mandatory">*</span></label>
                                    @Html.TextAreaFor(m => m.sponsoring_office, new
                               {
                                   @class = "form-control",
                                   @id = "txtsponsoring_office",
                                   @placeholder = "प्रायोजन कार्यालय का पता",
                                   @onkeypress = "return IsAlphaNumeric(event);",
                                   @ondrop = "return false;",
                                   @npaste = "return false;",
                                   @disabled= "disabled"
                               })
                                </div>
                                @Html.HiddenFor(m => m.sponsoring_office_code, new { @id = "hfsponsoringofficecode", @value = "-1" })
                               
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-layers font-red"></i>
                                        <span class="caption-subject font-red bold uppercase">
                                            महत्वपूर्ण
                                            <span class="step-title"> ध्यान दें । </span>
                                        </span>
                                        
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-10 bold"><span class="caption-subject font-red bold uppercase">
    <input type="checkbox" id="chkaadhar" />  मुझे अपना आधार नंबर इस योजना में देने में कोई आपत्ति  नहीं है।
</span></div>
                                        
                                        @*<p class="font-red"><input type="checkbox" id="chkaadhar" />  मुझे अपना आधार नंबर इस योजना में देने में कोई आपत्ति  नहीं है </p>*@
                                    </div>
                                
                             <button type="button" class="btn btn-lg btn-info" onclick="Save()">Submit</button> 
                            </div>
                        </form>
                    </div>
                   
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="model_forget" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="funclose()">&times;</button>
                        <h2><i class="icon-lock">&nbsp;&nbsp;&nbsp;<label>Forgot password  </label>  </i></h2>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="row">
                                <div class="col-sm-12 form-group">
                                  
                                    <input type="text" id="txtUsername" class="form-control" value="" placeholder="Username/Registered(email_id/Mobile no.)" />
                                </div>
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4"><button type="button" class="btn btn-lg btn-info" >Submit</button></div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>
<script>
    function fun_forget() {
        $("#model_forget").css("display", "block");
        $("#model_forget").addClass("in");
    }
    function funclose() {
        $("#model_forget").css("display", "none");
        $("#model_forget").removeClass("in");
    }
    function Save() {
        try {
            $('#lblscheme').removeAttr('style');
            $('#lblname').removeAttr('style');
            $('#lblfather').removeAttr('style');
            $('#lbladhar').removeAttr('style');
            $('#lblphone').removeAttr('style');
            $('#lbldob').removeAttr('style');
            $('#lbladress').removeAttr('style');
            $('#lblDistrict').removeAttr('style');
            if ($('#chkaadhar').prop('checked')) {

            }
            else {
                $('#chkaadhar').focus();
                alert("Please check declaration");
                return;
            }
            if (document.getElementById("ddlRegScheme").value == "-1") {
                document.getElementById("ddlRegScheme").focus();
                $('#lblscheme').css('color', 'red');
                alert("योजना");
                return;
            }
            if (document.getElementById("txtName").value == "") {
                document.getElementById("txtName").focus();
                $('#lblname').css('color', 'red');
                alert("नाम");
                return;
            }
            if (document.getElementById("txtDOB").value == "") {
                document.getElementById("txtDOB").focus();
                $('#lbldob').css('color', 'red');
                alert("जन्म की तारीख");
                return;
            }
            if (document.getElementById("txtHusband_father_name").value == "") {
                document.getElementById("txtHusband_father_name").focus();
                $('#lblfather').css('color', 'red');
                alert("पिता/पति का नाम");
                return;
            }
            if (document.getElementById("txtAdhar_card_No").value == "") {
                document.getElementById("txtAdhar_card_No").focus();
                $('#lbladhar ').css('color', 'red');
                alert("आधार कार्ड नं0 ");
                return;
            }
            else {
                var ad = document.getElementById("txtAdhar_card_No").value;

                if (ad.length != 12) {
                    $('#lbladhar ').css('color', 'red');
                    alert("आधार कार्ड नं0 ");
                    return;
                }
            }
            if (document.getElementById("txtMobile_No").value == "") {
                document.getElementById("txtMobile_No").focus();
                $('#lblphone').css('color', 'red');
                alert("मोबाइल नं0 ");
                return;
            }
            else {
                var ad = document.getElementById("txtMobile_No").value;

                if (ad.length != 10) {
                    $('#lblphone ').css('color', 'red');
                    alert("मोबाइल नं0 ");
                    return;
                }
            }

           
            if (document.getElementById("ddlDistrictNames").value == "-1") {
                document.getElementById("ddlDistrictNames").focus();
                $('#lblDistrict').css('color', 'red');
                alert("कृप्या जनपद चयन करे");
                return;
            }

            var dob = $("#txtDOB").val();
            var now = new Date();
            var birthdate = dob.split("/");
            var born = new Date(birthdate[2], birthdate[1] - 1, birthdate[0]);
            age = get_age(born, now);
            console.log(birthdate[2] + " : " + birthdate[1] + " : " + birthdate[0]);
            console.log(age);
            if (age <= 18) {
                $('#lbldob').css('color', 'red');
                document.getElementById("txtDOB").focus();
                alert(" Age should be greater then or equal to 18");
                return;
            }
            if (document.getElementById("ddlRegScheme").value == 1) {

                if (age > 40) {
                    $('#lbldob').css('color', 'red');
                    document.getElementById("txtDOB").focus();
                    alert(" Age should be smaller then or equal to 40");
                    return false;
                }
            }
            if (document.getElementById("ddlRegScheme").value == 8) {

                if (age <= 50) {
                    $('#lbldob').css('color', 'red');
                    document.getElementById("txtDOB").focus();
                    alert(" Age should be greater then or equal to 50");
                    return false;
                }
            }
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var Objform = {
                "applicant_code": "-1",
                "yojana_code": document.getElementById("ddlRegScheme").value,
                "applicant_name": document.getElementById("txtName").value,
                "inputdob": document.getElementById("txtDOB").value,
                "adhar_no": document.getElementById("txtAdhar_card_No").value,
                "Husband_father_name": document.getElementById("txtHusband_father_name").value,
                "sponsoring_office_code": document.getElementById("hfsponsoringofficecode").value,
                "mobile_no": document.getElementById("txtMobile_No").value,
                "email": document.getElementById("txtEmailID").value == "" ? " " : document.getElementById("txtEmailID").value,
                "DistCode": document.getElementById("ddlDistrictNames").value,
                "TehsilCode": "-1",
                "BlockCode": "-1",
                "VillCode": "-1",
                "proposed_office_district": document.getElementById("ddlDistrictNames").value,
            }
            if (document.getElementById("ddlRegScheme").value == 1) {
                $.ajax({

                    url: '/Login/InsertUpdateCMYSS_Applicant',
                    data: ({ Objform: Objform, __RequestVerificationToken: token }),
                    type: 'POST',
                   // contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert(data);
                        if (data == "Date of Birth must be dd/mm/yyyy format") {
                            $('#lbldob').css('color', 'red');
                            document.getElementById("txtDOB").focus();
                        }
                        else {
                            document.getElementById("ddlRegScheme").value = "-1";
                            document.getElementById("txtName").value = "";
                            document.getElementById("txtDOB").value = "";
                            document.getElementById("txtAdhar_card_No").value = "";
                            document.getElementById("txtHusband_father_name").value = "";
                            document.getElementById("hfsponsoringofficecode").value = "-1";
                            document.getElementById("txtMobile_No").value = "";
                            document.getElementById("txtEmailID").value = "";
                            document.getElementById("ddlDistrictNames").value = "-1";
                            document.getElementById("txtsponsoring_office").value = "";
                            $('#lblscheme').removeAttr('style');
                            $('#lblname').removeAttr('style');
                            $('#lblfather').removeAttr('style');
                            $('#lbladhar').removeAttr('style');
                            $('#lblphone').removeAttr('style');
                            $('#lbldob').removeAttr('style');
                            $('#lbladress').removeAttr('style');
                            $('#lblDistrict').removeAttr('style');
                           
                        }
                    }
                });
            }
            else if (document.getElementById("ddlRegScheme").value == 8) {
                $.ajax({

                    url: '/Login/InsertUpdateSPY_Applicant',
                    data: ({ Objform: Objform, __RequestVerificationToken: token }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert(data);
                        if (data == "Date of Birth must be dd/mm/yyyy format") {
                            $('#lbldob').css('color', 'red');
                            document.getElementById("txtDOB").focus();
                        }
                        else {
                            document.getElementById("ddlRegScheme").value = "-1";
                            document.getElementById("txtName").value = "";
                            document.getElementById("txtDOB").value = "";
                            document.getElementById("txtAdhar_card_No").value = "";
                            document.getElementById("txtHusband_father_name").value = "";
                            document.getElementById("hfsponsoringofficecode").value = "-1";
                            document.getElementById("txtMobile_No").value = "";
                            document.getElementById("txtEmailID").value = "";
                            document.getElementById("ddlDistrictNames").value = "-1";
                            document.getElementById("txtsponsoring_office").value = "";
                            $('#lblscheme').removeAttr('style');
                            $('#lblname').removeAttr('style');
                            $('#lblfather').removeAttr('style');
                            $('#lbladhar').removeAttr('style');
                            $('#lblphone').removeAttr('style');
                            $('#lbldob').removeAttr('style');
                            $('#lbladress').removeAttr('style');
                            $('#lblDistrict').removeAttr('style');
                        }
                    }
                });
            }
            else if (document.getElementById("ddlRegScheme").value == 9) {
                $.ajax({

                    url: '/Login/InsertUpdateMHPY_Applicant',
                    data: ({ Objform: Objform, __RequestVerificationToken: token }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert(data);
                        if (data == "Date of Birth must be dd/mm/yyyy format") {
                            $('#lbldob').css('color', 'red');
                            document.getElementById("txtDOB").focus();
                        }
                        else {
                            document.getElementById("ddlRegScheme").value = "-1";
                            document.getElementById("txtName").value = "";
                            document.getElementById("txtDOB").value = "";
                            document.getElementById("txtAdhar_card_No").value = "";
                            document.getElementById("txtHusband_father_name").value = "";
                            document.getElementById("hfsponsoringofficecode").value = "-1";
                            document.getElementById("txtMobile_No").value = "";
                            document.getElementById("txtEmailID").value = "";
                            document.getElementById("ddlDistrictNames").value = "-1";
                            document.getElementById("txtsponsoring_office").value = "";
                            $('#lblscheme').removeAttr('style');
                            $('#lblname').removeAttr('style');
                            $('#lblfather').removeAttr('style');
                            $('#lbladhar').removeAttr('style');
                            $('#lblphone').removeAttr('style');
                            $('#lbldob').removeAttr('style');
                            $('#lbladress').removeAttr('style');
                            $('#lblDistrict').removeAttr('style');
                        }
                    }
                });
            }
            else if (document.getElementById("ddlRegScheme").value == 14) {
                $.ajax({

                    url: '/Login/InsertUpdateVHPP_Applicant',
                    data: ({ Objform: Objform, __RequestVerificationToken: token }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert(data);
                        if (data == "Date of Birth must be dd/mm/yyyy format") {
                            $('#lbldob').css('color', 'red');
                            document.getElementById("txtDOB").focus();
                        }
                        else {
                            document.getElementById("ddlRegScheme").value = "-1";
                            document.getElementById("txtName").value = "";
                            document.getElementById("txtDOB").value = "";
                            document.getElementById("txtAdhar_card_No").value = "";
                            document.getElementById("txtHusband_father_name").value = "";
                            document.getElementById("hfsponsoringofficecode").value = "-1";
                            document.getElementById("txtMobile_No").value = "";
                            document.getElementById("txtEmailID").value = "";
                            document.getElementById("ddlDistrictNames").value = "-1";
                            document.getElementById("txtsponsoring_office").value = "";
                            $('#lblscheme').removeAttr('style');
                            $('#lblname').removeAttr('style');
                            $('#lblfather').removeAttr('style');
                            $('#lbladhar').removeAttr('style');
                            $('#lblphone').removeAttr('style');
                            $('#lbldob').removeAttr('style');
                            $('#lbladress').removeAttr('style');
                            $('#lblDistrict').removeAttr('style');
                        }
                    }
                });
            }

        } catch (e) {
            alert(e);
        }

    }

    var specialKeys2 = new Array();

    specialKeys2.push(8); //Backspace
    specialKeys2.push(9); // Tab

    specialKeys2.push(37); // for left Arrow
    //  specialKeys.push(39); // for Right Arrow
    function IsNumeric(e, R) {
        if (R == "dob") {
            specialKeys2.push(47); // for Forward Slash(/)
        }
        if (R == "Y") {
            specialKeys2.push(46); // for .
        }
        var keyCode = e.which ? e.which : e.keyCode
        var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys2.indexOf(keyCode) != -1); // For Decimal To All Number
        if (ret == false) {
            alert("Only numaric value allowed.");
        }
        return ret;
    }
    $(document).ready(function () {
        try {
            $("input[type='text']").each(function () {
                $(this).attr("autocomplete", "nope");
            });
        }
        catch (e)
        { }
    });
    function validateEmail(txt) {
        
        var emailText = txt.value;
        if (emailText!="") {
            var pattern = /^[a-zA-Z0-9\-_]+(\.[a-zA-Z0-9\-_]+)*@@[a-z0-9]+(\-[a-z0-9]+)*(\.[a-z0-9]+(\-[a-z0-9]+)*)*\.[a-z]{2,4}$/;
            if (pattern.test(emailText)) {
                return true;
            } else {
                txt.value = "";
                alert('Bad email address: ' + emailText);
                return false;
            }
        }
        
    }
</script>
<script>

    document.onkeypress = function (event) {
        event = (event || window.event);
        if (event.keyCode == 123) {
            return false;
        }

    }
    document.onmousedown = function (event) {
        event = (event || window.event);
        if (event.keyCode == 123) {
            return false;
        }
    }
    document.onkeydown = function (event) {
        event = (event || window.event);
        if (event.keyCode == 123) {
            return false;
        }
        if (event.ctrlKey && event.shiftKey && event.keyCode == 'I'.charCodeAt(0)) {
            return false;
        }
        if (event.ctrlKey && event.shiftKey && event.keyCode == 'C'.charCodeAt(0)) {
            return false;
        }
        if (event.ctrlKey && event.shiftKey && event.keyCode == 'J'.charCodeAt(0)) {
            return false;
        }
        if (event.ctrlKey && event.keyCode == 'U'.charCodeAt(0)) {
            return false;
        }
    }
</script>
<script>
    var d = new Date();
    var year = d.getFullYear() - 18;
    d.setFullYear(year);
    function get_age(born, now) {
        var birthday = new Date(now.getFullYear(), born.getMonth(), born.getDate());
        if (now >= birthday)
            return now.getFullYear() - born.getFullYear();
        else
            return now.getFullYear() - born.getFullYear() - 1;
    }
    $(document).ready(function () {
        $.ajax({
            type: "post",
            url: "/Login/GetDistricteng",
           
            data: { district_code_census: "-1", state_code: "-1" },
            
            traditional: true,
            success: function (data) {
                $('#ddlDistrictNames').empty();
                var ddlComapnyType = "";
              
                for (var i = 0; i < data.length; i++) {
                    ddlComapnyType = ddlComapnyType + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
               
                $('#ddlDistrictNames').append(ddlComapnyType);
                
            }
        });
        $.ajax({
            type: "post",
            url: "/login/Getscheme",
            data: {},

            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#ddlRegScheme').empty();
                var ddlComapnyType = "";
                //var district = '';
                for (var i = 0; i < data.length; i++) {
                    ddlComapnyType = ddlComapnyType + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
                //district = district + '</select>';
                //alert(district);
                $('#ddlRegScheme').append(ddlComapnyType);

            }
        });
    });
    $('#ddlDistrictNames').change(function () {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        $.ajax({
            type: "post",
            url: "/login/Getsponsoring_office",
            data: { district_code_census: $('#ddlDistrictNames').val(), __RequestVerificationToken: token },
          //  datatype: "json",
            traditional: true,
            success: function (data) {
                $('#hfsponsoringofficecode').val(data[0].sponsoring_office_code);
                $('#txtsponsoring_office').val(data[0].address);
            }
        });

    });
</script>
<script>
    $('#ddlRegScheme').change(function () {
        if (document.getElementById("ddlRegScheme").value == "5") {
            window.open('/User/AllotmentPlot', "_self");
            return;
        }
    });

    $(document).ready(function () {
        $(".js-datemask").mask("99/99/9999", {
            placeholder: "dd/mm/yyyy",
            completed: function () {
             //   dateReflection($(this));
            }
        });



    });

    //function dateReflection(that) {
    //    var date = moment(that.val(), 'DD/MM/YYYY');
    //    var display = date.format('dddd Do MMMM YYYY'); console.log(display)
    //   // $('.dateDisplay').text(display)
    //}


</script>

}
