@model DI.Models.FormModal

@{
    ViewBag.Title = "DistrictIndrustiesInformation";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user"></i><b>जनपद में स्थापित औद्योगिक आस्थानों का विवरण </b>
            </div>
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title=""> </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                <a href="" class="reload" data-original-title="" title=""> </a>
                <a href="" class="remove" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body form">
            <form method="post">
                <div class="form-body" style="background-color:#fff8dc">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                               
                                    @if (ViewBag.DisLst != null)
                                    {
                                        @Html.DropDownListFor(m => m.Districtcodecensus, (IEnumerable<SelectListItem>)ViewBag.DisLst, new { @id = "ddlDist", @class = "form-control" })
                                    }
                                <label class="form_control_1"><b>जनपद का नाम</b></label>
                                </div>


                            </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                               
                                @if (ViewBag.DisLst != null)
                                {
                                    @Html.DropDownListFor(m => m.Industrycodecensus, (IEnumerable<SelectListItem>)ViewBag.DisLst, new { @id = "ddlDist", @class = "form-control" })
                                }
                                <label class="form_control_1"><b>औद्योगिक आस्थान का नाम </b></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                               
                                @Html.TextBoxFor(m => m.Stablishyear, new { @class = "form-control", @id = "txtyear" ,@MaxLength=4 })
                                <label class="form_control_1"><b>स्थापना वर्ष</b></label>


                            </div>

                            
                        </div>
                        </div>
                        
                    <div class="row">
                        
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                               
                                @Html.TextBoxFor(m => m.Area, new { @class = "form-control", @id = "txtarea" })
                                <label class="form_control_1"><b>क्षेत्रफल (वर्ग मीटर में)</b></label>




                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                               

                                @Html.TextBoxFor(m => m.CurrentRate, new { @class = "form-control", @id = "txtCurrentRate" })
                                <label class="form_control_1"><b>वर्तमान प्रचलित दर (वर्ग मीटर)</b></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                               
                                @Html.TextBoxFor(m => m.FiananceDetails, new { @class = "form-control", @id = "txtFinancedetails" })
                                <label class="form_control_1"><b>आवंटन हेतु गैर विवादित उपलब्ध रिक्त भूखण्ड की संख्या</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                                
                                @Html.TextBoxFor(m => m.FiananceDetails, new { @class = "form-control", @id = "txtFinancedetails" })
                                <label class="form_control_1"><b>वर्तमान में कुल विकसित भूखण्ड की संख्या</b></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                               
                                @Html.TextBoxFor(m => m.FiananceDetails, new { @class = "form-control", @id = "txtFinancedetails" })
                                <label class="form_control_1"><b>वर्तमान में कुल विकसित शेडों की संख्या</b></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                               
                                @Html.TextBoxFor(m => m.FiananceDetails, new { @class = "form-control", @id = "txtFinancedetails" })
                                <label class="form_control_1"><b>क्षेत्रफलवार विकसित भूखण्ड की संख्या</b></label>
                               
                            </div>
                        </div>

                        

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                              
                                @Html.TextBoxFor(m => m.FiananceDetails, new { @class = "form-control", @id = "txtFinancedetails" })
                                <label class="form_control_1"><b>क्षेत्रफलवार विकसित शेडों की संख्या</b></label>
                              
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                               
                                @Html.TextBoxFor(m => m.FiananceDetails, new { @class = " form-control", @id = "txtFinancedetails" })
                                <label class="form_control_1"><b>आवंटित भूखण्ड की संख्या</b></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                              
                                @Html.TextBoxFor(m => m.FiananceDetails, new { @class = " form-control", @id = "txtFinancedetails" })
                                <label class="form_control_1"><b>आवंटित शेडों की संख्या</b></label>
                               
                            </div>
                        </div>



                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                         <b style="font-size:16px">उपलब्ध अवस्थापना सुविधायें </b>
                        </div>

                         
                        
                        </div>
                    <br/>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group form-md-line-input form-md-floating-label has-info">
                                       
                                        @Html.TextBoxFor(m => m.DistanceFromBus, new { @class = "form-control", @id = "txtarea" })

                                        <label class="form_control_1"><b>अस्थान में पहुँच दूरी (निकट बस स्टैंड से किलोमीटर  में)</b></label>


                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-md-line-input form-md-floating-label has-info">
                                       
                                        @Html.TextBoxFor(m => m.DistanceFromTrain, new { @class = "form-control", @id = "txtarea" })
                                        <label class="form_control_1"><b>अस्थान में पहुँच दूरी (निकट रेलवे स्टेशन से किलोमीटर  में)</b></label>



                                    </div>
                                </div>
                               
                            

                        </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"><b>अस्थान में पहुंच सड़क उपलब्ध है अथवा नहीं </b></label>
                                <div class="radio-list" style="margin-left:20px">
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.IsRoadAvailable, "Yes", new { @name = "Road", @id = "RoadRadiosYes", @value = "Yes" }) हाँ
                                       
                                    </label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.IsRoadAvailable, "No", new { @name = "Road", @id = "RoadRadiosNo", @value = "No", @checked = "" })नहीं
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"><b>बिजली उपलब्ध है अथवा नहीं </b></label>
                                <div class="radio-list" style="margin-left:20px">
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.IsLightAvailble, "Yes", new { @name = "Light", @id = "LightRadiosYes", @value = "Yes" })हाँ
                                    </label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.IsLightAvailble, "No", new { @name = "Light", @id = "LightRadiosNo", @value = "No", @checked = "" })नहीं
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"><b>जल निकासी/नाली सुविधा उपलब्ध है अथवा नहीं </b></label>
                                <div class="radio-list" style="margin-left:20px">
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.IsWaterOutletAvailable, "Yes", new { @name = "WaterOutlet", @id = "WaterOutletRadiosYes", @value = "Yes" })हाँ
                                    </label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.IsWaterOutletAvailable, "No", new { @name = "WaterOutlet", @id = "WaterOutletRadiosNo", @value = "No", @checked = "" })नहीं
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><b>पेयजल व्यवस्था उपलब्ध है अथवा नहीं</b></label>
                                    <div class="radio-list" style="margin-left:20px">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.IsDrinkingWaterAvailable, "Yes", new { @name = "DrinkingWater", @id = "DrinkingWaterRadiosYes", @value = "Yes" })
                                            @*<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">*@हाँ
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.IsDrinkingWaterAvailable, "No", new { @name = "DrinkingWater", @id = "DrinkingWaterRadiosNo", @value = "No", @checked = "" })नहीं
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><b>रॉ मैटेरियल साइडिंग उपलब्ध है अथवा नहीं</b></label>
                                    <div class="radio-list" style="margin-left:20px">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.isRawMaterialavalible, "Yes", new { @name = "RawMaterial", @id = "RawMaterialYes", @value = "Yes" })हाँ
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.isRawMaterialavalible, "No", new { @name = "RawMaterial", @id = "RawMaterialNo", @value = "No", @checked = "" })नहीं
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><b>औद्योगिक पार्क उपलब्ध है अथवा नहीं</b></label>
                                    <div class="radio-list" style="margin-left:20px">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.HelpFromForegin, "Yes", new { @name = "IndrustyPark", @id = "IndrustyParkYes", @value = "Yes" })हाँ
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.HelpFromForegin, "No", new { @name = "IndrustyPark", @id = "IndrustyParkNo", @value = "No", @checked = "" })नहीं
                                        </label>
                                    </div>
                                </div>
                            </div>

                            </div>
                    

               
                <div class="form-actions">
                    <button type="button" class="btn default">Cancel</button>
                    <button type="submit" class="btn red">Submit</button>
                </div>
            </form>
        </div>

    </div>

}

