@model DI.Models.FormModal
@{

    if (ViewBag.Alert != string.Empty && ViewBag.Alert != null)
    {
        var msg = ViewBag.Alert;

        @Html.Raw("<script language='javascript' type='text/javascript'>alert('" + msg + "');</script>")
        @Html.Raw("<script language='javascript' type='text/javascript'>window.location='../Form/EntryForm';</script>")       

    }
    
}

@using (Html.BeginForm())
{
     @Html.AntiForgeryToken()
    <div class="portlet box green ">
        <div class="portlet-title" >
            <div class="caption">
                <i class="fa fa-user"></i><b>औद्योगिक आस्थानों में उपलब्ध भूखंडो एवं शेडों के आवंटन हेतु प्रार्थना-पत्र</b>
            </div>
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title=""> </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                <a href="" class="reload" data-original-title="" title=""> </a>
                <a href="" class="remove" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body form">
            <form  method="post">
                <div class="form-body" style="background-color:#fff8dc">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"><b>प्रार्थी का नाम</b></label>
                                @Html.TextBoxFor(m => m.ApplicantName, new { @class = "form-control", @id = "txtapplicantname", placeholder = "प्रार्थी का नाम" })
                                

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"><b>प्रार्थी का पता </b></label>
                                @Html.TextBoxFor(m => m.ApplicantAddress, new { @class = "form-control", @id = "txtapplicantaddress", placeholder = "प्रार्थी का पता" })
                               
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"><b>औद्योगिक इकाई का नाम </b></label>
                                @Html.TextBoxFor(m => m.IndrustryName, new { @class = "form-control", @id = "txtindrustryname", placeholder = "औद्योगिक इकाई का नाम" })
                               

                            </div>
                        </div>
                    </div>

                   
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><b>प्रार्थना-पत्र शुल्क</b></label>
                                    @Html.TextBoxFor(m => m.ApplicationFee, new { @class = "form-control", @id = "txtapplicationfee", placeholder = "प्रार्थना-पत्र शुल्क" })
                                   

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><b>शुल्क जमा करने की दिनांक</b></label>
                                    @Html.TextBoxFor(m => m.ApplicationFeeDate, new { @class = "form-control", @id = "mask_date2", placeholder = "शुल्क दिनांक" })
                                    
                                       
                                   

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><b>शुल्क जमा किये जाने का विवरण</b></label>
                                  
                                    @Html.TextBoxFor(m => m.ApplicationFeedetails, new { @class = "form-control", @id = "txtapplicationfeedetails", placeholder = "प्रार्थना-पत्र शुल्क जमा किये जाने का विवरण" })
                                    
                                </div>
                            </div>
                        </div>

             



                    <div class="form-group">
                        @*<label class="control-label">यदि प्रस्तावित रूप से पंजीकृत है</label>*@
                        <div class="md-checkbox">
                            @Html.CheckBoxFor(m => m.IsPreRegistered, new { @class = "md-check", @id = "checkbox1_1",@onclick="showrow();" })
                            @*<input type="checkbox" id="checkbox1_1" class="md-check" />*@
                            <label for="checkbox1_1">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span><b>यदि प्रस्तावित रूप से पंजीकृत है</b>
                            </label>
                        </div>
                        <div class="row" id="trpreregisteration" style="display:none">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><b>पंजीकरण संख्या</b></label>
                                    @Html.TextBoxFor(m => m.OldRegistraionNo, new { @class = "form-control", @id = "txtRegistraionNo", placeholder = "पंजीकरण संख्या" })
                                   
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><b>पंजीकरण दिनांक</b></label>
                                    @Html.TextBoxFor(m => m.OldRegistrationDate, new { @class = "form-control", @id = "txtRegistrationDate", placeholder = "dd/mm/yyyy" })
                                   
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><b>सामग्री जिसका उत्पादन किया जायेगा</b></label>
                        <div class="input-icon">
                            @*<i class="fa fa-bell-o"></i>*@
                            @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @id = "txtproduct", placeholder = "सामग्री का नाम" })
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><b>प्रोजेक्ट रिपोर्ट व्यावहारिक है या नहीं</b></label>
                        <div class="radio-list" style="margin-left:20px">
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.PracticalProjectReport, "Yes", new { @name = "ProjectRadios", @id = "ProjectRadiosYes", @value = "Yes" })
                                @*<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">*@हाँ
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.PracticalProjectReport, "No", new { @name = "ProjectRadios", @id = "ProjectRadiosNo", @value = "No",@checked="" })नहीं
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><b>क्या विदेशी सहायता से इकाई स्थापित की जाएगी ?</b></label>
                        <div class="radio-list" style="margin-left:20px">
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.HelpFromForegin, "Yes", new { @name = "ForeginRadios", @id = "ForeginRadiosYes", @value = "Yes" })हाँ
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.HelpFromForegin, "No", new { @name = "ForeginRadios", @id = "ForeginRadiosNo", @value = "No",@checked="" })नहीं
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><b>वित्तीय सहायता का श्रोत</b></label>
                                @Html.TextBoxFor(m => m.FiananceDetails, new { @class = "form-control", @id = "txtFinancedetails", placeholder = "वित्तीय सहायता का श्रोत" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><b>कच्चे माल का श्रोत</b></label>
                                @Html.TextBoxFor(m => m.RowMeterialSource, new { @class = "form-control", @id = "txtRowMeterialSource", placeholder = "कच्चे माल का श्रोत" })
                                
                            </div>
                            </div>
                        </div>

                    </div>
                <div class="form-actions">
                    <button type="button" class="btn default">Cancel</button>
                    <button type="submit" class="btn red">Submit</button>
                </div>
            </form>
                 </div>
            
        </div>
    
}
  <script>
      function showrow() {
          debugger;
          if ($('#checkbox1_1').prop("checked") == true) {
              $('#trpreregisteration').css('display', '');
          }
          else
          {
              $('#trpreregisteration').css('display', 'none');
          }
         

      }

  </script>      
