@model DI.Models.Plant_mahinery
@{
    ViewBag.Title = "Entry_plant_machinery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet-body form">
            @using (Html.BeginForm("Entry_plant_machinery", "Form",
    //new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))

            {
                @Html.AntiForgeryToken()

                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">मुख्यमंत्री युवा स्वरोजगार योजना, उत्तर प्रदेश</span>
                            <span class="caption-helper">(परियोजना प्रारूप)</span>
                        </div>

                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="#" class="form-horizontal">
                            <div class="form-body" style="padding: 0px !important">
                                @*<h3 class="form-section" style="font-weight:bolder">व्यक्तिगत विवरण</h3>*@
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">1.लाभार्थी  का नाम </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.applicant_name, new { @class = "form-control", @id = "txtName", @placeholder = "लाभार्थी  का नाम", @Maxlength = 20, disabled = "disabled" })
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">2.पिता/पति का नाम</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.father_name, new { @class = "form-control", @id = "txtFather_Name", @placeholder = "पिता/पति का नाम ", @Maxlength = 20, disabled = "disabled" })                                           
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">3. पता</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.address, new { @class = "form-control", @id = "txtAddress", @placeholder = "पता", @Maxlength = 200, disabled = "disabled" })           

                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->                                                            

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">4.मोबाइल नं0</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.mobile_no, new { @class = "form-control", @id = "txtMobile_No", @placeholder = "मोबाइल नं0", @onkeypress = "return IsNumeric(event);", @Maxlength = 10, disabled = "disabled" })
                                                
                                            </div>
                                        </div> 
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">                                        
                                        <div class="form-group">
                                            <label class="control-label col-md-12">5.आधार कार्ड नं0 </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.adhar_no, new { @class = "form-control", @id = "txtAdhar_card_No", @placeholder = "आधार कार्ड नं0 ", @onkeypress = "return IsNumeric(event);", @Maxlength = 12, disabled = "disabled" })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">6.प्रस्तावित कार्यालय का पता</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.office_address, new { @class = "form-control", @id = "txt_office_Address", @placeholder = "प्रस्तावित कार्यालय का पता", @Maxlength = 500, disabled = "disabled" })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <!--/span-->
                                    
                                    <!--/span-->
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">7.उत्पात का नाम</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.Utpat_name, new { @class = "form-control", @id = "txt_Utpat_name", @placeholder = "उत्पात का नाम", @Maxlength = 500, disabled = "disabled"})
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">8.विपणन व्यवस्था</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.Marketingsystem, new { @class = "form-control", @id = "txt_Marketingsystem", @placeholder = "विपणन व्यवस्था", @Maxlength = 500, disabled = "disabled"})
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <!--/span-->
                                    <!--/span-->
                                    <!--/span-->
                                </div>
                                <!--/row-->

                                <h3 class="form-section" style="font-weight:bolder">9. प्लाण्ट एवं मशीनरी का विवरण </h3>
                                <!--/row-->

                                <table class="table-responsive tblcss" id="Letter" border="1" style="width:80%" align="center">
                                    <tr>
                                        <td width="2%" height="50px"></td>
                                        <td width="20%" style="font-size:20px; font-weight:bold;">&nbsp;&nbsp;क्र० स०</td>
                                        <td width="40%" style="font-size:20px; font-weight:bold;">&nbsp;&nbsp;मशीन का नाम</td>
                                        <td width="12%" style="font-size:20px; font-weight:bold">&nbsp;कीमत (रु० में)</td>
                                        <td width="30%" style="font-size:20px; font-weight:bold">&nbsp;&nbsp;आपूर्तिकर्ता  का नाम </td>

                                    </tr>
                                    <tr>
                                        <td style="font-size:17px"></td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:17px"></td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:17px"></td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:17px"></td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:17px">10.</td>
                                        <td colspan="2" style="font-size:17px;">&nbsp;&nbsp; कुल  स्थायी पूंजी विनियोजना </td>
                                       
                                        <td style="font-size:17px">&nbsp;&nbsp;योग</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:17px">11.</td>
                                        <td colspan="2" style="font-size:17px">&nbsp;&nbsp;कार्यशील पूँजी (एक चक्रo)</td>
                                       
                                        <td style="font-size:17px">&nbsp;&nbsp;योग</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td style="font-size:17px">12.</td>
                                        <td colspan="2" style="font-size:17px">&nbsp;&nbsp;परियोजना लागत</td>                                      
                                        <td style="font-size:17px">&nbsp;&nbsp;योग</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                    </tr>

                                </table>

                            </div>

                            
                         
                            <div class="form-body" style="padding: 0px !important">
                                <h3 class="form-section" style="font-weight:bolder">13. वित्तीय व्यवस्था</h3>

                                <table class="table-responsive tblcss" id="Letter" border="1" style="width:80%" align="center">
                                    <tr>
                                        <td width="2%" height="50px">10.</td>
                                        <td width="20%" style="font-size:20px; font-weight:bold;">&nbsp;&nbsp;स्वत: पूंजी विनियोजन (रु०)</td>
                                        <td width="40%" style="font-size:20px; font-weight:bold;">&nbsp;&nbsp;बैंक ऋण (रु०)</td>
                                        <td width="12%" style="font-size:20px; font-weight:bold">&nbsp;मार्जिन मनी  (रु०)</td>
                                        <td width="30%" style="font-size:20px; font-weight:bold">&nbsp;&nbsp;योग (रु०)</td>

                                    </tr>
                                    <tr>
                                        <td style="font-size:17px"></td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:17px"></td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td style="font-size:17px"></td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                        <td style="font-size:17px">&nbsp;&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:17px"></td>
                                        <td style="font-size:17px" &nbsp;&nbsp;></td>
                                        <td style="font-size:17px" &nbsp;&nbsp;></td>
                                        <td style="font-size:17px" &nbsp;&nbsp;></td>
                                        <td style="font-size:17px" &nbsp;&nbsp;></td>
                                    </tr>
                                </table>
                                <!--/row-->
                                

                            </div>

                            
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-10 col-md-9">

                                        <button type="submit" class="btn green" onclick="Save(false)" id="btnsave">Submit</button>
                                        <button type="button" class="btn red">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </div>
                    <!-- END FORM-->
            }
        </div>
    </div>
</div>



