@{
    ViewBag.Title = "MYSY_Bank_Forword";
    Layout = "~/Views/Shared/UserLayout.cshtml";
    if (UserSession.LoggedInUserLevelId == null || UserSession.LoggedInUserLevelId == "30")
    {
        Response.Redirect("../Login/login");
        return;
    }
}
@using System.Data;
@using DI.Models;
@using DI.DAL;
@using DI.BLL;
@{
    
        DataTable dt = new CommonDA().GetMYSY_Applicant_StatusWise("AD", UserSession.LoggedInUserDistictId == 0 ? -1 : UserSession.LoggedInUserDistictId, "");
    

}
@using (Html.BeginForm("MYSY_Bank_Forword", "Form", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="portlet box green">
        <div class="portlet-title red">
            <div class="caption">
                बैंक स्थानांतरण
            </div>
            <div class="tools">
                @*<button class="btn btn-widget-purple" style="background-color:#474378" type="button" onclick="bulkForword()">Forword To Bank</button>*@
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="Datatable">
                
                <thead>
                    <tr>
                        @*<th width="3%" class="removesorting"><input type="checkbox" id="checkAll" class="checkAll" name="checkAll" /> </th>*@
                        <th width="3%">क्र० सं०</th>
                        <th width="10%">पंजीकरण संख्या</th>
                        <th width="5%">पंजीकरण तारीख</th>
                        <th width="10%">आवेदक</th>
                        <th width="10%" class="removesorting" style="cursor:none" colspan="2">आवेदन विवरण</th>
                        <th width="10%" class="removesorting" style="cursor:none">दस्तावेज़</th>
                        <th width="10%">बैठक की तारीख</th>
                        <th width="10%">अनुमोदित लागत</th>
                        <th width="10%">आवेदन स्थिति</th>
                        <th width="10%">टिप्पणी</th>
                        
                        <th width="10%">Action</th>

                    </tr>
                    <tr>
                        @*<th width="3%"></th>*@
                        <th width="3%"></th>
                        <th width="10%"></th>
                        <th width="5%"></th>
                        <th width="10%"></th>
                        <th width="10%" class="removesorting" style="cursor:none">भाग-१</th>
                        <th width="10%" class="removesorting" style="cursor:none">भाग-२</th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                        

                    </tr>
               
                </thead>
                <tbody>
                    @if (dt != null)
                {
                    if (dt.Rows.Count > 0)
                    {
                        for (int i = 0; i < dt.Rows.Count; i++)
                        {
                                <tr role="row" class="filter">
                                    <td>@(i + 1)</td>
                                    <td>@dt.Rows[i]["RegistrionNo"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["registration_date"].ToString().Trim()</td>
                                    <td>@dt.Rows[i]["applicant_name"].ToString().Trim()</td>
                                    <td><a href="@Url.Action("MYSY_Application_Print","Form", new {Name =  new  DI.Crypto().Encrypt(dt.Rows[i]["user_name"].ToString().Trim()) })"><i class="icon-printer"></i></a>    </td>

                                    <td><a href="@Url.Action("MYSY_Plant_Machinery_print","Form", new {Name =  new  DI.Crypto().Encrypt(dt.Rows[i]["user_name"].ToString().Trim()) })"><i class="icon-printer"></i></a></td>

                                    <td><a href="@Url.Action("Uploadform","Form", new {Name =  new  DI.Crypto().Encrypt(dt.Rows[i]["user_name"].ToString().Trim()) , yojana=new  DI.Crypto().Encrypt(dt.Rows[i]["scheme_code"].ToString().Trim()),type="V" })"><i class="icon-docs"></i></a>   </td>

                                    <td>@dt.Rows[i]["meeting_date"].ToString().Trim()</td>

                                    <td>@dt.Rows[i]["dltfc_approved_projectcost"].ToString().Trim()</td>

                                    <td>@dt.Rows[i]["present_status"].ToString().Trim()</td>
                                    <td>@Html.Raw(dt.Rows[i]["remark1"].ToString().Trim())</td>

                                    <td><button class="btn btn-primary" onclick="funsave('@dt.Rows[i]["registration_code"].ToString().Trim()','@dt.Rows[i]["scheme_code"].ToString().Trim()')"  >Forword to Bank</button></td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

    <script>
        function funsave(registration_code, scheme_code) {
            var mysy = {
                "registration_code": registration_code,
                "scheme_code": scheme_code,
                "status": "B",
                "remark":" ",
                "dltfc_approved_projectcost": "0"
            }
            $.ajax({
                url: '/form/InsertUpdate_mysy_status',
                data: JSON.stringify({ mysy: mysy, sptype: '1', authority: 'D' }),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    alert(data);
                    if (data == "Record Save..") {
                        location.reload();
                    }

                }
            });
        }
    window.onload = L;
    function L() {
        debugger;
        var table = $('#Datatable');

        var oTable = table.dataTable({

            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},


            buttons: [],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            //"ordering": false, disable column ordering
            //"paging": false, disable pagination

            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }
    </script>
}

