
@model DI.Models.AddMYSY

@{
    ViewBag.Title = "MYSY_Entry";
    Layout = "~/Views/Shared/_PublicPage.cshtml";
}

<script>
    $(document).ready(function () {

        $("#txtDOB").datepicker({

            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true
        });
    });

</script>

@using (Html.BeginForm("MYSY_Entry", "Form", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="portlet light " id="form_wizard_1">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-layers font-red"></i>
                <span class="caption-subject font-red bold uppercase">
                    मुख्यमंत्री युवा स्वरोजगार योजना - प्रार्थना-पत्र (दो-प्रतियों में)
                    <span class="step-title"> चरण 1 of 4 </span>
                </span>
            </div>
            <div class="actions">
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="icon-cloud-upload"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="icon-wrench"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="icon-trash"></i>
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" action="#" id="submit_form" method="POST" novalidate="novalidate">
                <div class="form-wizard">
                    <div class="form-body">
                        <ul class="nav nav-pills nav-justified steps">
                            <li class="active" id="litab1">
                                <a href="#tab1" data-toggle="tab" class="step" aria-expanded="true">
                                    <span class="number"> 1 </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> व्यक्तिगत विवरण
                                    </span>
                                </a>
                            </li>
                            <li id="litab2">
                                <a href="#tab2" data-toggle="tab" class="step">
                                    <span class="number"> 2 </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i>परिवार का विवरण
                                    </span>
                                </a>
                            </li>
                            <li id="litab3">
                                <a href="#tab3" data-toggle="tab" class="step active">
                                    <span class="number"> 3 </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> परियोजना का  विवरण
                                    </span>
                                </a>
                            </li>
                            <li id="litab4">
                                <a href="#tab4" data-toggle="tab" class="step">
                                    <span class="number"> 4 </span>
                                    <span class="desc">
                                        <i class="fa fa-check"></i> बैंक विवरण
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div id="bar" class="progress progress-striped" role="progressbar">
                            <div class="progress-bar progress-bar-success" style="width: 0%;" id="divpross"> </div>
                        </div>
                        <div class="tab-content">
                            <div class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
                            </div>
                            <div class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                            </div>
                            <div class="tab-pane active" id="tab1">
                                <h3 class="form-section" style="font-weight:bolder">व्यक्तिगत विवरण प्रदान करें</h3>
                                <div class="form-body" style="padding: 0px !important">
                                   
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">नाम</label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.applicant_name, new { @class = "form-control", @id = "txtName", @placeholder = "नाम ", @Maxlength = 20 })

                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">जन्मतिथि</label>
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return IsNumeric(event);", @Value = "", @placeholder = "dd/mm/yy", @id = "txtDOB" } })
                                                    @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">आधार कार्ड नं0</label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.adhar_no, new { @class = "form-control", @id = "txtAdhar_card_No", @placeholder = "आधार कार्ड नं0 ", @onkeypress = "return IsNumeric(event);", @Maxlength = 12 })

                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">पिता/पति का नाम</label>
                                                <div class="col-md-12">

                                                    @Html.TextBoxFor(m => m.father_name, new { @class = "form-control", @id = "txtFather_Name", @placeholder = "पिता/पति का नाम ", @Maxlength = 20 })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">पत्र व्यवहार का पता</label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.current_address, new { @class = "form-control", @id = "txtCurrentAddress", @placeholder = "पत्र व्यवहार का पता", @Maxlength = 200 })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">स्थाई पता</label>
                                                <div class="col-md-12">

                                                    @Html.TextBoxFor(m => m.permanent_address, new { @class = "form-control", @id = "txtPermanent_Address", @placeholder = "स्थाई पता", @Maxlength = 200 })

                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">जनपद </label>
                                                <div class="col-md-12">
                                                         @Html.DropDownListFor(m => m.DistCode, Model.DistrictNames, "--Select--", new { @id = "ddlDistrict", @class = "form-control" })
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <!--/span-->

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">तहसील </label>
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(m => m.TehsilCode, new List<SelectListItem>(), "--Select--", new { @id = "ddlTehsil", @class = "form-control" })
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">ब्लॉक</label>
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(m => m.BlockCode, new List<SelectListItem>(), "--Select--", new { @id = "ddlBlock", @class = "form-control" })
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">ग्राम </label>
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(m => m.VillCode, new List<SelectListItem>(), "--Select--", new { @id = "ddlVillage", @class = "form-control" })
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">मोबाइल नं0</label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.mobile_no, new { @class = "form-control", @id = "txtMobile_No", @placeholder = "मोबाइल नं0", @onkeypress = "return IsNumeric(event);", @Maxlength = 10 })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-12">ई-मेल आई0डी0 (यदि हो तो)	</label>
                                                <div class="col-md-12">

                                                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", @id = "txtEmailID", @placeholder = "ई-मेल आई0डी0 (यदि हो तो)", @Maxlength = 50 })

                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                            </div>

                            <div class="tab-pane" id="tab2">
                                <h3 class="form-section" style="font-weight:bolder">परिवार का विवरण प्रदान करें</h3>
                              
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">पिता</label>

                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.FamilyPerson_Father_Name, new { @class = "form-control", @id = "txtFamilyPerson_Father_Name", @placeholder = "पिता का नाम", @Maxlength = 50 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">उम्र</label>

                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.FamilyPerson_Age, new { @class = "form-control", @id = "txtFamilyPerson_Age", @onkeypress = "return IsNumeric(event);", @placeholder = "उम्र", @Maxlength = 3 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">कार्य</label>

                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.FamilyPerson_work, new { @class = "form-control", @id = "txtFamilyPerson_work", @placeholder = "कार्य", @Maxlength = 50 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">माता</label>

                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.Mother_Name, new { @class = "form-control", @id = "txt_Mother_Name", @placeholder = "माता का नाम", @Maxlength = 50 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">उम्र</label>

                                            <div class="col-md-12">


                                                @Html.TextBoxFor(m => m.Mother_Age, new { @class = "form-control", @id = "txt_Mother_Age", @onkeypress = "return IsNumeric(event);", @placeholder = "उम्र", @Maxlength = 3 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">कार्य</label>

                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.Mother_work, new { @class = "form-control", @id = "txt_Mother_work", @placeholder = "कार्य", @Maxlength = 50 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">भाई/बहन</label>

                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.Family_brother_sister, new { @class = "form-control", @id = "txt_Family_brother_sister", @placeholder = "भाई या बहन का नाम", @Maxlength = 50 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">उम्र</label>

                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.Family_brother_sister_Age, new { @class = "form-control", @id = "txt_Family_brother_sister_Age", @onkeypress = "return IsNumeric(event);", @placeholder = "उम्र", @Maxlength = 3 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">कार्य</label>

                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.Family_brother_sister_Work, new { @class = "form-control", @id = "txt_Family_brother_sister_Work", @placeholder = "कार्य", @Maxlength = 50 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">बच्चों का नाम</label>

                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.children_Name, new { @class = "form-control", @id = "txt_children_Name", @placeholder = "बच्चों का नाम", @Maxlength = 50 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">उम्र</label>

                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.children_Age, new { @class = "form-control", @id = "txt_children_Age", @onkeypress = "return IsNumeric(event);", @placeholder = "उम्र", @Maxlength = 3 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">कार्य</label>

                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.children_Work, new { @class = "form-control", @id = "txt_children_Work", @placeholder = "कार्य", @Maxlength = 50 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">पेंशन  कार्ड सं0</label>

                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.pansion_card_No, new { @class = "form-control", @id = "txt_pensioncardnumber", @placeholder = "पेंषन कार्ड सं0", @Maxlength = 10 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">परिवार की वार्षिक आय</label>
                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.family_income, new { @class = "form-control", @id = "txt_Family_Income", @onkeypress = "return IsNumeric(event);", @placeholder = "रू0", @Maxlength = 6 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--/span-->
                                </div>


                            </div>

                            <div class="tab-pane" id="tab3">
                               
                                <h3 class="form-section" style="font-weight:bolder">परियोजना का  विवरण</h3>
                                <div class="row">
                                    <!--/span-->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">परियोजना का नाम</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.project_name, new { @class = "form-control", @id = "txt_ProjectName", @placeholder = "परियोजना का नाम", @Maxlength = 50 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <!--/span-->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">परियोजना लागत </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.project_cost, new { @class = "form-control", @id = "txt_Projectcost", @onkeypress = "return IsNumeric(event);", @placeholder = "परियोजना लागत", @Maxlength = 50 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">प्लान्ट एवं मशीनरी </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.machinery_cost, new { @class = "form-control", @id = "txt_Plant_Mashreni", @onkeypress = "return IsNumeric(event);", @placeholder = "रू0", @Maxlength = 6 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <!--/span-->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">एक चक कार्यशील पूँजी</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.working_capital, new { @class = "form-control", @id = "txt_ChuckWorkingPepsi", @onkeypress = "return IsNumeric(event);", @placeholder = "एक चक कार्यशील पूँजी ", @Maxlength = 50 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                            <div class="tab-pane" id="tab4">
                                <h3 class="form-section" style="font-weight:bolder">बैंक विवरण</h3>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">निकटतम बैक शाखा  का नाम (शहरी क्षेत्रो हेतु)</label>
                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.bank_name, new { @class = "form-control", @id = "txt_Nearestbankbranchname", @placeholder = "निकटतम बैक शाखा  का नाम ", @Maxlength = 50 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">सर्विस शाखा का नाम (ग्रामीण क्षेत्रों हेतु)</label>
                                            <div class="col-md-12">
                                                @*@Html.TextBoxFor(m => m.Nameservicebranch, new { @class = "form-control", @id = "txt_Nameservicebranch", @placeholder = "सर्विस शाखा का नाम ", @Maxlength = 50 })*@

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">स्वयं का अंशदान</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.self_share, new { @class = "form-control", @id = "txt_Owndeposit", @onkeypress = "return IsNumeric(event);", @placeholder = "5 व 10 प्रतिशत रू0 ", @Maxlength = 50 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">बैक शाखा में जमा धनराशी</label>
                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.deposit_amt, new { @class = "form-control", @id = "txt_Depositbankbranch", @onkeypress = "return IsNumeric(event);", @placeholder = "बैक शाखा में जमा धनराशी", @Maxlength = 50 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">बैक शाखा का नाम</label>
                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.branch_name, new { @class = "form-control", @id = "txt_BankbranchName", @placeholder = "बैक शाखा का नाम", @Maxlength = 50 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">बैक खाता सं0</label>
                                            <div class="col-md-12">

                                                @Html.TextBoxFor(m => m.bank_account_no, new { @class = "form-control", @id = "txt_BankAccountNo", @placeholder = "बैक खाता सं0", @Maxlength = 16 })
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">आईएफएससी कोड</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.ifsc_code, new { @class = "form-control", @id = "txt_IFSCCode", @placeholder = "आईएफएससी कोड", @Maxlength = 16 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <!--/span-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-12">प्रस्तावित कार्यालय का पता</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.bank_office_address, new { @class = "form-control", @id = "txt_Address", @placeholder = "प्रस्तावित कार्यालय का पता", @Maxlength = 500 })

                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->

                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-offset-10 col-md-9">

                                                    <button type="submit" class="btn green" onclick="Save(false)" id="btnsave">Submit</button>
                                                    <button type="button" class="btn red">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="javascript:;" class="btn default button-previous disabled" style="display: none;">
                                    <i class="fa fa-angle-left"></i> Back
                                </a>
                                <a href="javascript:;" class="btn btn-outline green button-next" onclick="myfunction()">
                                    Continue
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="javascript:;" class="btn green button-submit" style="display: none;">
                                    Submit
                                    <i class="fa fa-check"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script>
    function myfunction() {
        if ($("#tab1").hasClass('active'))
        {
            //divpross
            $("#divpross").css('width', '25%');
            $("#litab2").addClass('active');
            $("#litab1").removeClass('active');
            $("#litab1").addClass('done');
            $("#tab2").addClass('active');
            $("#tab1").removeClass('active');
            return;
        }
        else if ($("#tab2").hasClass('active')) {
            $("#divpross").css('width', '50%');
            $("#litab3").addClass('active');
            $("#litab2").removeClass('active');
            $("#litab2").addClass('done');
            $("#tab3").addClass('active');
            $("#tab2").removeClass('active');
            return;
        }
        else if ($("#tab3").hasClass('active')) {
            $("#divpross").css('width', '75%');

            $("#litab4").addClass('active');
            $("#litab3").removeClass('active');
            $("#litab3").addClass('done');
            $("#tab4").addClass('active');
            $("#tab3").removeClass('active');
            return;
        }

       
    }

    </script>
}

<script type="text/javascript">

                $(document).ready(function () {

                    //var date_input = $('input[name="date"]'); //our date input has the name "date"
                    //var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                    //date_input.datepicker({
                    //    format: 'dd/mm/yyyy',
                    //    container: container,
                    //    todayHighlight: true,
                    //    autoclose: true,
                    //})

                    $('#ddlDistrict').change(function () {

                       // alert("done");
                        $.ajax({
                            type: "post",
                            url: "/Form/GetTehsil",
                            data: { DistID: $('#ddlDistrict').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                $('#ddlTehsil').empty();
                                var district = "<option value=0>Select</option>";
                                //var district = '';
                                for (var i = 0; i < data.length; i++) {
                                    district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                //  district = district + '</select>';
                                //alert(district);

                                $('#ddlTehsil').append(district);
                            }
                        });
                    });

                    $('#ddlTehsil').change(function () {
                        //alert($('#ddlTehsil').val());
                        $.ajax({
                            type: "post",
                            url: "/Form/GetBlock",
                            data: { TehID: $('#ddlTehsil').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                $('#ddlBlock').empty();
                                var block = '<option value=0>Select</option>';
                                // var district = "<select id='ddlTehsil'>";
                                //var block = '';
                                for (var i = 0; i < data.length; i++) {
                                    block = block + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                //  district = district + '</select>';
                                //alert(district);


                                $('#ddlBlock').append(block);
                            }
                        });
                    });

                    $('#ddlBlock').change(function () {
                        $.ajax({
                            type: "post",
                            url: "/Form/GetVillage",
                            data: { BlockID: $('#ddlBlock').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                $('#ddlVillage').empty();
                                var village = "<option value=0>Select</option>";
                                //var village = '';
                                for (var i = 0; i < data.length; i++) {
                                    village = village + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                //  district = district + '</select>';
                                //alert(district);

                                $('#ddlVillage').append(village);
                            }
                        });

                    });
                });
</script>

<script type="text/javascript">

    function res() {
        location.reload();
    }
        function Save(sptype)
                {
            if (document.getElementById("ddlDistrict").value == "Select")
                    {
                document.getElementById("ddlDistrict").focus();
                alert("ज़िला का नाम");
                        return;
            }
            if (document.getElementById("ddlTehsil").value == "Select") {
                document.getElementById("ddlTehsil").focus();
                alert("तहसील का नाम");
                return;
            }
            if (document.getElementById("ddlBlock").value == "Select") {
                document.getElementById("ddlBlock").focus();
                alert("ब्लॉक का नाम");
                return;
            }
            if (document.getElementById("ddlVillage").value == "Select") {
                document.getElementById("ddlVillage").focus();
                alert("ग्राम का नाम");
                return;
            }
            if (document.getElementById("txtName").value == "") {
                document.getElementById("txtName").focus();
                alert("नाम");
                return;
            }
            if (document.getElementById("txtAdhar_card_No").value == "") {
                document.getElementById("txtAdhar_card_No").focus();
                alert("आधार कार्ड नं0 ");
                return;
            }
            if (document.getElementById("txtFather_Name").value == "") {
                document.getElementById("txtFather_Name").focus();
                alert("पिता/पति का नाम");
                return;
            }
            if (document.getElementById("txtCurrentAddress").value == "") {
                document.getElementById("txtCurrentAddress").focus();
                alert("पत्र व्यवहार का पता");
                return;
            }
          
            var Objform = {
                // "PlotCode": document.getElementById("hfPlotCode").value,
                "applicant_name": document.getElementById("txtName").value,
                "adhar_no": document.getElementById("txtAdhar_card_No").value,
                "father_name": document.getElementById("txtFather_Name").value,
                "current_address": document.getElementById("txtCurrentAddress").value,
                "permanent_address": document.getElementById("txtPermanent_Address").value,
                "mobile_no": document.getElementById("txtMobile_No").value,
                "email": document.getElementById("txtEmailID").value,
                "pansion_card_No": document.getElementById("txt_pensioncardnumber").value,
                "family_income": document.getElementById("txt_Family_Income").value,
                "project_name": document.getElementById("txt_ProjectName").value,
                "project_cost": document.getElementById("txt_Projectcost").value,
                "machinery_cost": document.getElementById("txt_Plant_Mashreni").value,
                "working_capital": document.getElementById("txt_ChuckWorkingPepsi").value,
                "bank_name": document.getElementById("txt_Nearestbankbranchname").value,
                // "Nameservicebranch": document.getElementById("txt_Nameservicebranch").value,
                "self_share": document.getElementById("txt_Owndeposit").value,
                "deposit_amt": document.getElementById("txt_Depositbankbranch").value,
                "branch_name": document.getElementById("txt_BankbranchName").value,
                "bank_account_no": document.getElementById("txt_BankAccountNo").value,
                "ifsc_code": document.getElementById("txt_IFSCCode").value,
                "bank_office_address": document.getElementById("txt_Address").value,
                "DistCode": document.getElementById("ddlDistrict").value,
                "TehsilCode": document.getElementById("ddlTehsil").value,
                "BlockCode": document.getElementById("ddlBlock").value,
                "VillCode": document.getElementById("ddlVillage").value,
                "DOB": document.getElementById("txtDOB").value,
                         //"FamilyPerson_Father_Name": document.getElementById("txtFamilyPerson_Father_Name").value,
                        //"FamilyPerson_Age": document.getElementById("txtFamilyPerson_Age").value,
                        //"FamilyPerson_work": document.getElementById("txtFamilyPerson_work").value,
                        //"Mother_Name": document.getElementById("txt_Mother_Name").value,
                        //"Mother_Age": document.getElementById("txt_Mother_Age").value,
                        //"Mother_work": document.getElementById("txt_Mother_work").value,
                        //"Family_brother_sister": document.getElementById("txt_Family_brother_sister").value,
                        //"Family_brother_sister_Age": document.getElementById("txt_Family_brother_sister_Age").value,
                        //"Family_brother_sister_Work": document.getElementById("txt_Family_brother_sister_Work").value,
                        //"children_Name": document.getElementById("txt_children_Name").value,
                        //"children_Age": document.getElementById("txt_children_Age").value,
                        //"children_Work": document.getElementById("txt_children_Work").value,
                    }
                    $.ajax({

                        url: '/Form/InsertUpdateMYSY',
                        data: JSON.stringify({ Objform: Objform }),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            alert(data);
                            location.reload();
                        }
                    });
        }
        var specialKeys = new Array();
        specialKeys.push(47); // for Forward Slash(/)
        specialKeys.push(8); //Backspace
        specialKeys.push(9); // Tab
        specialKeys.push(46); // for .
        specialKeys.push(37); // for left Arrow
        specialKeys.push(39); // for Right Arrow
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1); // For Decimal To All Number
            if (ret == false) {
                alert("Only numaric value allwed.");
            }
            return ret;
        }

</script>

