
@{
    ViewBag.Title = "Received_Report";
   // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

@using System.Data;
@using DI.Models;
@using DI.DAL;
@using DI.BLL;

@{
    //var grid = new WebGrid(Model, rowsPerPage: 20);
    DataTable dt = new DataTable();

    dt = new CommonDA().Get_Received_Report(UserSession.LoggedInUserDistictId);

}

@using (Html.BeginForm("Received_Report", "Report", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
{

    <style>
        .form-control1 {
            width: 10%;
            height: 50px;
            background-color: #fff;
            border: 1px solid black;
        }

        .form-control2 {
            width: 5%;
            height: 50px;
            background-color: #fff;
            border: 1px solid black;
        }

        .form-control3 {
            width: 4%;
            height: 50px;
            background-color: #fff;
            border: 1px solid black;
        }

        .form-control4 {
            width: 10%;
            height: 50px;
            background-color: #fff;
            border: 1px solid black;
        }

        .form-control5 {
            width: 0%;
            height: 50px;
            background-color: #fff;
            border: 1px solid black;
        }

        .form-control6 {
            width: 0.5%;
            height: 50px;
            background-color: #fff;
            border: 1px solid black;
        }

        th {
            border: 1px solid rgb(190, 190, 190);
            padding: 10px;
        }

        td {
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #eee;
        }

        th[scope="col"] {
            background-color: #696969;
            color: #fff;
        }

        th[scope="row"] {
            background-color: #d7d9f2;
        }

        caption {
            padding: 10px;
            caption-side: bottom;
        }

        table {
            border-collapse: collapse;
            border: 2px solid rgb(200, 200, 200);
            letter-spacing: 1px;
            font-family: sans-serif;
            font-size: .8rem;
        }
    </style>

    <h4 align="center">UTTAR PRADESH</h4>
    <div class="am-pagebody" style="padding:20px">

        <table class="table table-striped table-bordered table-hover" id="Datatable">

            <thead>
                <tr>
                    <th class="form-control6">srno</th>
                    <th class="form-control3">Current Status</th>
                    <th  class="form-control1">Under Process /Rejection by Agency Reason</th>
                    <th class="form-control6">Office Name</th>
                    <th class="form-control3">Agency Type</th>
                    @*<th class="form-control2">State</th>*@
                    <th  class="form-control3">Applicant ID</th>
                    <th class="form-control2">Applicant Name</th>
                    <th  class="form-control2">Applicant Address</th>
                    <th class="form-control6">Mobile No.</th>
                    @*<th class="form-control6">Alternative Mobile No</th>*@
                    <th class="form-control6">eMail</th>
                    <th  class="form-control2">AADHAAR</th>
                    <th class="form-control1">Legal Status</th>
                    <th  class="form-control6">Gender</th>
                    <th  class="form-control6">Category</th>
                    <th class="form-control6">Special Category</th>
                    <th class="form-control6">Qualification</th>
                    <th class="form-control6">Date of Birth</th>
                    <th class="form-control2">Age in year</th>
                    <th class="form-control1">Unit Location</th>
                    <th class="form-control6">Unit Address</th>
                    <th class="form-control6">Taluk/block</th>
                    <th class="form-control6">Unit District</th>
                    <th class="form-control6">Industry Type</th>
                    <th class="form-control6">Product Desc/Activity</th>
                    <th class="form-control2">Proposed Project Cost</th>
                    <th class="form-control1">MM Involve</th>
                    <th class="form-control6">Financing Branch Address</th>
                    <th class="form-control6">Online Submission Date</th>
                    
                </tr>

                <tr style="height:20px">
                    <th  class="form-control5">1</th>
                    <th class="form-control5">2</th>
                    <th  class="form-control5"></th>
                    <th class="form-control5">3</th>
                    <th class="form-control5">4</th>
                    @*<th class="form-control5" >5</th>*@
                    <th class="form-control5" >6</th>
                    <th class="form-control5" >7</th>
                    <th class="form-control5" >8</th>
                    <th class="form-control5" >9</th>
                    @*<th class="form-control5" >10</th>*@
                    <th class="form-control5" >11</th>
                    <th class="form-control5" >12</th>
                    <th class="form-control5">13</th>
                    <th class="form-control5">14</th>
                    <th class="form-control5">15</th>
                    <th class="form-control5"></th>
                    <th class="form-control5">16</th>
                    <th class="form-control5">17</th>
                    <th class="form-control5">18</th>
                    <th class="form-control5"></th>
                    <th class="form-control5">19</th>
                    <th class="form-control5"></th>
                    <th class="form-control5">20</th>
                    <th class="form-control5">21</th>
                    <th class="form-control5">22</th>
                    <th class="form-control5">23</th>
                    <th class="form-control5"></th>
                    <th class="form-control5">24</th>
                    <th class="form-control5">25</th>
                </tr>


            </thead>
            <tbody>
                @if (dt != null)
                {
                    if (dt.Rows.Count > 0)
                    {
                        for (int i = 0; i < dt.Rows.Count; i++)
                        {
                            <tr role="row" class="filter">
                                <td  class="form-control5">@(i + 1)</td>
                                <td  class="form-control5">@dt.Rows[i]["OnlineSubmitted"].ToString().Trim()</td>
                                <td  class="form-control5">@Html.Raw(dt.Rows[i]["remark"].ToString().Trim())</td>
                                <td  class="form-control5">@dt.Rows[i]["address"].ToString().Trim()</td>
                                <td  class="form-control5">@dt.Rows[i]["DIC"].ToString().Trim()</td>
                              
                                <td  class="form-control5">@dt.Rows[i]["application_no"].ToString().Trim()</td>                              
                                <td  class="form-control5">@dt.Rows[i]["applicant_name"].ToString().Trim()</td>                              
                                <td  class="form-control5">@dt.Rows[i]["current_address"].ToString().Trim()</td>                             
                                <td  class="form-control5">@dt.Rows[i]["mobile_no"].ToString().Trim()</td>
                                @*<td class="form-control5"></td>*@
                                <td  class="form-control5">@dt.Rows[i]["email"].ToString().Trim()</td>
                                <td  class="form-control5">@dt.Rows[i]["adhar_no"].ToString().Trim()</td>
                                <td class="form-control5"></td>
                                <td  class="form-control5">@dt.Rows[i]["gender_suffix"].ToString().Trim()</td>
                                <td  class="form-control5">@dt.Rows[i]["category_suffix"].ToString().Trim()</td>
                                <td  class="form-control5">@dt.Rows[i]["sp_category_suffix"].ToString().Trim()</td>
                                <td  class="form-control5">@dt.Rows[i]["qualification"].ToString().Trim()</td>
                                <td  class="form-control5">@dt.Rows[i]["dob"].ToString().Trim()</td>
                                <td class="form-control5">@dt.Rows[i]["DateDiff"].ToString().Trim()</td>
                                <td class="form-control5">@dt.Rows[i]["address"].ToString().Trim()</td>
                                <td  class="form-control5">@dt.Rows[i]["proposed_office_address"].ToString().Trim()</td>
                                <td  class="form-control5">@dt.Rows[i]["UnitDistrict"].ToString().Trim()</td>
                               
                                <td  class="form-control5">@dt.Rows[i]["Taluk_block"].ToString().Trim()</td>
                                <td class="form-control5">@dt.Rows[i]["IndustryType"].ToString().Trim()</td>
                                <td class="form-control5">@dt.Rows[i]["Industry"].ToString().Trim()</td>
                                <td  class="form-control5">@dt.Rows[i]["ProposedProjectCost"].ToString().Trim()</td>
                                <td  class="form-control5">@dt.Rows[i]["self_share"].ToString().Trim()</td>
                                @*<td  class="form-control5">@dt.Rows[i][""].ToString().Trim()</td>*@                                
                                <td class="form-control5">@dt.Rows[i]["Financing_Branch_Address"].ToString().Trim()</td>
                                <td class="form-control5">@dt.Rows[i]["entrydate"].ToString().Trim()</td>
                                
                            
                            </tr>
                        }
                    }
                }

            </tbody>

        </table>


    </div>
    <script>

    window.onload = L;
    function L() {
        debugger;
        var table = $('#Datatable');

        var oTable = table.dataTable({

            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},
            buttons: [
                { extend: 'print', className: 'btn dark' },
                { extend: 'pdf', className: 'btn purple' },
                { extend: 'excel', className: 'btn yellow ' },
                { extend: 'colvis', className: 'btn red', text: 'Columns' }
            ],
            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,
            //"ordering": false, disable column ordering
            //"paging": false, disable pagination
            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }
    </script>
}





