
@{
    ViewBag.Title = "StateApplicant_report";
    Layout = "~/Views/Shared/Report_Layout.cshtml";
   // Layout = null;

    //dcode = UserSession.LoggedInUserDistictId;

    //if (UserSession.LoggedInUserDistictId == 0 || UserSession.LoggedInUserDistictId != dcode)
    //{
    //    Response.Redirect("../Login/login");
    //    return;
    //}
}



@using System.Data;
@using DI.Models;
@using DI.DAL;
@using DI.BLL;

@{ 
    Request.QueryString["Code"].ToString();
    Request.QueryString["State"].ToString();
    string distcode = Request.QueryString["State"];
    string status = Request.QueryString["Code"];

    var heading = "";
    //var distName = "@dt.Rows[i]["dist_name_u"].ToString().Trim()";
    //var SchemeName = "";

    if (status == "RD")
    {
        heading = "List of Rejected BY DLTFC";
    }

    if (status == "B")
    {
        heading = "List of Applicant Forward to Bank";
    }
    if (status == "")
    {
        heading = "List of Applicant BY DIC";
    }
    if (status == "D")
    {
        heading = "List of Forward DLTFC BY DIC";
    }
    if (status == "RA")
    {
        heading = "List of Rejected BY DIC";
    }
    if (status == "U")
    {
        heading = "List of Underprocess BY DIC";


    }
    // string distcode;
    DataTable dt = new DataTable();

    dt = new CommonDA().Get_DICApplicant_Report(int.Parse(distcode), "", status);
            }

@using (Html.BeginForm("StateApplicant_report", "Report", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="portlet box green" style="width: 96%;  margin-left: 2%;">
        <div class="portlet-title red">
            <div class="caption">
                <i class="fa fa-globe"></i>
                @*@if (dt != null)
                {
                    if (dt.Rows.Count > 0)
                    {*@
                <strong>@heading</strong>
                
                    @*}
                }*@
              
            </div>
            <div class="tools"> </div>
        </div>
        
        <div class="portlet-body">
@if (dt != null)
{
    if (dt.Rows.Count > 0)
    {
        <span> District Name :</span> @dt.Rows[0]["dist_name_u"].ToString().Trim();  <span>Scheme Name :</span> @dt.Rows[0]["scheme_name_u"].ToString().Trim()
            }
}
            <table class="table table-striped table-bordered table-hover" id="Datatable">
                <thead>
                    <tr>
                        <th class="form-control3">S No</th>
                        @*<th class="form-control1">District Name</th>*@
                        <th class="form-control1">Application Number</th>
                        @*<th class="form-control1">Scheme Name</th>*@
                        <th class="form-control1">Applicantes Name</th>
                        <th class="form-control1">Father Name</th>
                        <th class="form-control1">Current Address</th>
                    </tr>
                </thead>
                <tbody>
                    @if (dt != null)
                    {
                        if (dt.Rows.Count > 0)
                        {
                            for (int i = 0; i < dt.Rows.Count; i++)
                            {
                                <tr role="row" class="filter">
                                    <td class="form-control3">@(i + 1)</td>
                                    @*<td class="form-control1">@dt.Rows[i]["dist_name_u"].ToString().Trim()</td>*@
                                    <td class="form-control1">@dt.Rows[i]["application_no"].ToString().Trim()</td>
                                    @*<td class="form-control1">@dt.Rows[i]["scheme_name_u"].ToString().Trim()</td>*@
                                    <td class="form-control1">@dt.Rows[i]["applicant_name"].ToString().Trim()</td>
                                    <td class="form-control1">@dt.Rows[i]["father_name"].ToString().Trim()</td>
                                    <td class="form-control1">@dt.Rows[i]["current_address"].ToString().Trim()</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

    <script>

    window.onload = L;
    function L() {
        debugger;
        var table = $('#Datatable');

        var oTable = table.dataTable({

            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},


            buttons: [
                { extend: 'print', className: 'btn dark' },
                { extend: 'pdf', className: 'btn purple' },
                { extend: 'excel', className: 'btn yellow ' },
                { extend: 'colvis', className: 'btn red', text: 'Columns' }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            //"ordering": false, disable column ordering
            //"paging": false, disable pagination

            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        });
    }
    </script>
}







